<div class="profile_complete">
  <div class="personal_data">
    <div class="person_info" id="person_info">
      <div class="title">PERSONAL INFO</div>
      <div class="image_side">
          <%= profile_user_image(@user) %>
          <div class="name"><textarea readonly="readonly"><%= full_name(@user) %></textarea></div>
          <div class="address"><textarea readonly="readonly"><%#= location(@user) %></textarea></div>
      </div>
      <div class="info_side">
        <div class="info_element">
          <div class="info_element_title">Gender: </div>
          <div class="info_element_description"><%= gender(@user) %></div>
        </div>

        <div class="info_element">
          <div class="info_element_title">Language:</div>
          <div class="info_element_description"><%= language(@user) %></div>
        </div>

        <div class="info_element">
          <div class="info_element_title">Birth date:</div>
          <div class="info_element_description"><%= birth_date(@user) %></div>
        </div>

        <div class="profile_buttons">
          <%= link_to "Edit my profile",
            edit_user_profile_path(@user),
            :class => 'profile_buttons_style',
            :remote => true %>
        </div>
      </div>

    </div>
    <div class="statistics">
      <div class="title">USER DATA</div>
      <div class="result_side">
        <div class="result_block">
          <div class="result_title">Deals as buyer</div>
          <div class="result_number">10</div>
        </div>
        <div class="result_block">
          <div class="result_title">Deals as seller</div>
          <div class="result_number">50</div>
        </div>
        <div class="result_block">
          <div class="result_title">Total usage time</div>
          <div class="result_number">500h</div>
        </div>
        <div class="result_block">
          <div class="result_title">Daily usage average</div>
          <div class="result_number">2h</div>
        </div>
      </div>
      <div class="graphique_side">
        <div class="graphique"></div>
      </div>
    </div>
  </div>
  <div class="comments_received">
    <div class="title">COMMENT</div>
    <div id="comment_list">
      <% 5.times do |i|%>
        <div class="comment">
          <div class="comment_header">
            <div class="profile_image">
              <%= comment_user_image(@user) %>
            </div>
            <div class="description">
              <div class="username_and_valuation">
                <div class="user_name">User Name</div>
                <div class="user_valuation">User Value</div>
              </div>
              <div class="comment_user_text">Comment Text</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

