<%= form_for @user, :remote => true do |form| %>

    <%= form.fields_for :profile do |profile| %>
      <div class="person_info">

        <div class="title">PERSONAL INFO</div>

        <div class="image_side">
          <%= profile_user_face_image(@user) %>
          <div class="name"><%= form.text_area :nick %></div>
          <div class="address"><textarea readonly="readonly">Logroño,España</textarea></div>
        </div>


        <div class="info_side">
          <div class="info_element">
            <div class="info_element_title">E-Mail: </div>
            <div class="info_element_description">
              <%#= email(@user) %>respectopatronum@potter.hw
            </div>
          </div>
          <div class="info_element">
            <div class="info_element_title">Phones:</div>
            <div class="info_element_description">
              941128057/639629586
            </div>
          </div>
          <div class="info_element">
            <div class="info_element_title">Birthdate:</div>
            <div class="info_element_description">
              <%#= birth_date(@user) %>23/12/1982
            </div>
          </div>

          <div class="action">
            <div class="send_button">
              <button>Cancelar</button>
              <%= form.submit "Guardar", :id => 'edit-profile-send-button' %>
            </div>
          </div>
        </div>

      </div>

    <% end %>

<% end %>



