<div class="edit-profile-form" id="edit-profile-form">
  <%= form_for current_user, :remote => true do |form| %>
    <div class="profile_editor">

      <div class="title">
        Profile Editor
      </div>

      <%= form.fields_for :profile do |profile| %>
      <div class="person_info">
        <div class="name_age">
          <div class="info_element_title">Nombre:</div>
          <%= form.text_area :nick, :size => "1x1" %>
          <div class="info_element_title">Birthdate:</div>
          <%= profile.text_area :birth_date, :size => "1x1" %>
        </div>
        <div class="info_element">
          <div class="info_element_title">Direction:</div>
          <div class="info_element_description">
            <%#= form.text_area :country, :size => "1x1" %>
          </div>
        </div>
        <div class="info_element">
          <!-- <div class="info_element_title">E-Mail:</div>
          <div class="info_element_description">
            <%#= form.text_area :email, :size => "24x6" %>
          </div> -->
        </div>
        <div class="info_element">
          <div class="info_element_title">Phones:</div>
          <div class="info_element_description">
            <%#= form.text_area :phone_number, :size => "1x1" %>
          </div>
        </div>
        <div class="info_element">
          <div class="info_element_title">Web:</div>
          <div class="info_element_description">
            <%#= form.text_area :website, :size => "1x1" %>
          </div>
        </div>
      </div>

      <div class="image_side">
        <%#= profile.file_field :image,
        :id => "profile_image",
        :onchange => "profileImageSelection(this);" %>
        <div class="profile_image_container" id="profile_image_container"><%= image(@user.profile) %></div>
      </div>

      <% end %>


    </div>

    <div class="action">
      <div class="send_button">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <%= form.submit "Editar", :id => 'edit-profile-send-button', :class =>  "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>