<div class="header">
  <div class="header_logo"></div>
  <nav class="header_menu" >
      <a href="/html/"></a>
      <a href="/html5/"></a>
      <a href="/css/"></a>
      <a href="/css3/"></a>
  </nav>
  <input type="search" name="busqueda" />

  <% if user_signed_in? %>
    <div class="header_user_image">
      <%= link_to user_logged_image,
          :controller => "users", 
          :action => "show",
          :id => user_logged_id
      %>
    </div>
    <div class="header_user_description">
      <p><%= user_logged_name %></p>
      <p><%= user_logged_surname %></p>
    </div>
    
    Not you?
    <%= link_to "sign out", destroy_user_session_path,:method => :delete %>
    <% else %>
      <%= link_to "sign up", new_user_registration_path %>
      or <%= link_to "sign in", new_user_session_path %>
  <% end %>

</div>
