<div class="navbar" id="navigation_bar">
  <div class="navbar-inner">
    <div class="container">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav" id="navigation_bar">

          <% if (controller.sub_layout === "users") or (controller.sub_layout === "offers") %>
            <li id="offers-tab" class="active" style="position:relative">
          <% else %>
            <li id="offers-tab" style="position:relative">
          <% end %>
            <%= link_to user_offers_path(@user), :remote => true, :id => "link_offers" do %>
              <div class="nav_element">Ofertas</div>
            <% end %>
          </li>

          <% if @user._id == current_user._id %>
            <% if controller.sub_layout === "negotiations" %>
              <li id="negotiations-tab" class="active" style="position:relative">
            <% else %>
              <li id="negotiations-tab" style="position:relative">
            <% end %>
              <%= link_to user_negotiations_path(@user), :remote => true, :id => "link_negotiations" do %>
                <div class="nav_element">Negociaciones</div>
                <div class="noti_bubble"></div>
              <% end %>
            </li>
          <% end %>

          <% if @user._id == current_user._id %>
            <% if controller.sub_layout === "deals" %>
              <li id="deals-tab" class="active" style="position:relative">
            <% else %>
              <li id="deals-tab" style="position:relative">
            <% end %>
              <%= link_to user_deals_path(@user), :remote => true, :id => "link_deals" do %>
                <div class="nav_element">Tratos</div>
              <% end %>
            </li>
          <% end %>

          <% if controller.controller_name === "things" %>
            <% if @user._id == current_user._id %>
              <span style="float:left;margin-top:5px;margin-left:70px">
                <%= link_to new_user_thing_path(current_user),
                    :remote => true do %>
                    <div class="nav_element">Añade un nuevo producto</div>
                <% end %>
              </span>
            <% end %>
          <% end %>
        </ul>
        
      </div>

      <div class="nav-collapse collapse navbar-responsive-collapse" style="float:right">
        <ul class="nav .last-nav" id="navigation_bar">
          <% if (controller.sub_layout === "things") %>
            <li>
              <%= link_to "Productos",
                user_things_path(@user),
                :remote => true,
                :id => "link_things",
                :class =>"active",
                :'data-toggle' => "tooltip" %>
            </li>
          <% else %>
            <li>
              <%= link_to "Productos",
                user_things_path(@user),
                :remote => true,
                :id => "link_things",
                :'data-toggle' => "tooltip" %>
            </li>
          <% end %>
        </ul>        
      </div>
    </div>
  </div>
</div>
