<aside class="user_container_profile">
  <div class="image">      
    <%= image_tag(@user.profile.image) %>
  </div>
  <div class="user_name">
    <%= @user.profile.nickname %></br>
    <%= @user.profile.country %></br>
  </div> 

  <a href="newOffer.html" target="_blank">        
    <%= button_tag "Nueva Oferta", :class => "add_offer_button",
    :id => "new-offer-button" %>
  </a>

  <nav class="profile_menu">
    <div class="menu_icon">
      <%= link_to 'Perfil', user_profile_path(@user) %>
    </div>
    <div class="menu_icon">
      <%= link_to 'Prod', user_things_path(@user) %>
    </div>
    <div class="menu_icon">
      <%= link_to 'Alertas'%>
    </div>
    <div class="menu_icon">
      <%#= link_to 'Alertas', user_alerts_path(current_user) %>
    </div>
  </nav>
</aside>