<aside class="user_container_profile" id="user_data_container">
  <div class="image">
    <%= user_visited_image %>
  </div>
  <div class="user_name">
    <%= user_visited_nickname %></br>
    <%= user_visited_country %></br>
  </div> 

  <% if user_logged_id != user_visited_id %>            
    <div class="new_offer_button">
      <%= link_to "Hazme una oferta!!!",
        new_user_offer_path(current_user),
        {:remote => true, :role => "button", :class => "btn btn-danger"}  %>
    </div>          
  <% end %>

  <nav class="profile_menu" id="menu_user_data"> 
    <div class="btn-toolbar">
      <div class="btn-group" data-toggle="buttons-checkbox">
        <% if (controller.sub_layout === "profile") %>
           <%= link_to image_tag("/assets/images/info.png"),
            user_profile_path(@user),
            :remote => true,
            :id => "link_profile",
            :class =>"btn btn-primary active",
            :'data-toggle' => "tooltip",
            :title => "perfil" %>  
        <% else %>          
           <%= link_to image_tag("/assets/images/info.png"),
            user_profile_path(@user),
            :remote => true,
            :id => "link_profile",
            :class =>"btn btn-primary",
            :'data-toggle' => "tooltip",
            :title => "perfil" %>
        <% end %>
               
      </div>
      <div class="btn-group">
        <% if (controller.sub_layout === "things") %>
          <%= link_to image_tag("/assets/images/products.png"),
            user_things_path(@user),
            :remote => true,
            :id => "link_things",
            :class =>"btn btn-primary active",
            :'data-toggle' => "tooltip",
            :title => "productos" %>    
        <% else %>
          <%= link_to image_tag("/assets/images/products.png"),
            user_things_path(@user),
            :remote => true,
            :id => "link_things",
            :class =>"btn btn-primary",
            :'data-toggle' => "tooltip",
            :title => "productos" %> 
        <% end %>
                       
      </div>
      <div class="btn-group">
        <% if (controller.sub_layout === "alerts") %>
          <%= link_to image_tag("/assets/images/alerts.png"),
            user_things_path(@user),
            :remote => true,
            :id => "link_things",
            :class =>"btn btn-primary active",
            :'data-toggle' => "tooltip",
            :title => "alertas" %> 
        <% else %>
          <%= link_to image_tag("/assets/images/alerts.png"),
            user_things_path(@user),
            :remote => true,
            :id => "link_things",
            :class =>"btn btn-primary",
            :'data-toggle' => "tooltip",
            :title => "alertas" %>
        <% end %>
                       
      </div>
    </div>
  </nav>

</aside>