<%= form_for(@thing) do |form| %>

  <% if @thing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thing.errors.count, "error") %> prohibited this thing from being saved:</h2>

      <ul>
      <% @thing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="thing">
    <div class="thing_image">
      <%= image_tag(@thing.main_image) %>
    </div>
    <div class="thing_description"><%= @thing.description %></div>
  </div>  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
