<%= flash[:message] %>

<% user_visited_things.each do |thing| %>
  <div class="thing" id="<%= thing_id(thing) %>">
    <div class="thing_image">
      <%= thing_image(thing) %>
    </div>
    <div class="thing_description"><%= thing_description(thing) %></div>
    <% if user_logged_id == user_visited_id %>      
      <%= link_to "editar producto",
          edit_user_thing_path(current_user,thing),
          :remote => true %>        
    <% end %>    
      
  </div>  
<% end %>

<%= render :partial => "layouts/new_thing" %>
<%= render :partial => "layouts/edit_thing" %>
  
