<div class="<%= yield :form_class %>" id="<%= yield :form_id %>" >
  <%= form_for [@user, @request], :remote => true do |form| %>
    <div class="new_petition_content">
      <div class="petition_transparent_side">
        <div class="petition_user_image"><%= request_modal_user_image(@user) %></div>
      </div>

      <div class="petition_user_side">
        <div class="petition_title"><%= yield :form_title %></div>
      </div>

      <div class="petition_text_side">
        <div class="petition_text">
          <%= form.text_area :text, :onkeyup => "countChar(this)", :placeholder => "Make your request here...", :size => "24x6", :required => true, :maxlength => "160" %>
        </div>
        <div class="petitions_buttons_side">
          <div class="send_button">
            <!-- <button class="offer_buttons_style">X</button> -->
            <%= form.submit "Save", :class => 'offer_buttons_style', :id => 'new-request-send-button' %>
            <div class="characters_left" id="charNum">160</div><div class="characters_left">/160</div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
  function countChar(val) {
    var len = val.value.length;
    if (len >= 161) {
      val.value = val.value.substring(0, 161);
    } else {
      $('#charNum').text(160 - len);
    }
  };
</script>
