<section class="contentside" id="content-side">

  <%= render 'requests/subnavigation' %>

  <aside class="contentside_elementList" id="ppal_container">
    <%= render @requests %><!--Helper que itera sobre _requests y los va renderizando uno a uno-->
  </aside>

</section>



<!-- Bloque de contents_for -->

<% content_for :user_description do %>
  <div class="image">      
    <%= image_tag(current_user.profile.image) %>
  </div>
  <div class="user_name">
    <%= current_user.profile.nickname %></br>
    <%= current_user.profile.country %></br>
  </div>
<% end %>

<% content_for :header_user_description do %>
  <div class="header_user_image">
    <%= image_tag(current_user.profile.image) %>
  </div>
  <div class="header_user_description">
    <p><%= current_user.profile.name %></p>
    <p><%= current_user.profile.surname %></p>
  </div>
<% end %>
