<div class="deal" id="<%= id(deal) %>">

  <div class="debug_container"><%= debug_info(deal) %></div>

  <div class="negotiation_offer">

    <div class="oponent_info">
      <div class="oponent_image">
        <%= deal_user_image(composer(agreement(deal))) %>
      </div>
      <div class="oponent_description">
        <div class="oponent_name">
          <%= first_name(composer(agreement(deal))) %>
        </div>
        <div class="oponent_address">
          <%= full_name(composer(agreement(deal))) %>
        </div>
      </div>
    </div>

    <div class="offer_items">
      <div class="received">
        <% composer_articles(agreement(deal)).each do |product| %>
          <div class="image_container">

            <div class="debug_container"><%= debug_info(product) %></div>

            <%= deal_receiver_product_image(product) %>
            <div class="description">
              <%= name(product) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="given">
        <% receiver_articles(agreement(deal)).each do |product| %>
          <div class="image_container">

            <div class="debug_container"><%= debug_info(product) %></div>

            <%= deal_composer_product_image(product) %>
            <div class="description">
              <%= name(product) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="dialog_container">

    <!-- <div class="dialog_head">
      <div class="option_icons">
        <div class="icon"><%#= image_tag("/assets/images/close.png") %></div>
      </div>
    </div> -->

    <div class="conversation" id="conversationofnegotiation">
      <% messages(deal).each do |message| %>
        <div class="comment">
          <div class="comment_user_image">
            <%= deal_message_user_image(message) %>
          </div>
          <div class="comment_text">
            <%= text(message) %>
          </div>
          <div class="comment_datetime">
            <%= date_time(message) %>
          </div>
        </div>
      <% end %>
      <div class="option_buttons">
        <div class="icon"><%= sound_icon %></div>
        <div class="icon"><%= video_icon %></div>
      </div>
    </div>

    <div class="writting_box">
      <div class="message">
       <%= form_for [@user,@deal], url: {action: "pusher_message"}, :remote => true do |form| %>
        <textarea class="txt_area_writer" id="message_writer" name="message" maxlength="400" required></textarea>
        <input type="hidden" name="deal_id" value="<%= id(deal)%>">
        <%= form.submit "Send", :id => "send_message_button" %>
       <% end %>
      </div>
    </div>

  </div>
</div>
