<% if (user_visited_offers.count != 0)%>
  <% user_visited_offers.reverse_each do |offer| %>
    <div class="offer" id="<%= offer_id(offer) %>" data-id="<%= offer_datetime(offer) %>">

      <div class="offer_header">
        <%= proposal_composer_name(offer.proposal) %>
      </div>

      <div class="offer_items">
        <div class="recieved">
          <% proposal_composer_products(offer.proposal).each do |product| %>
            <div class="image_container">
              <%= product_image(product) %>
              <div class="description">
                <%= product_name(product) %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="given">
          <% proposal_receiver_products(offer.proposal).each do |product| %>
            <div class="image_container">
              <%= product_image(product) %>
              <div class="quantity_container"><%= product_quantity(product) %></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="offer_info">
        <div class="profile_image">
          <%= link_to proposal_composer_image(offer.proposal),
            :controller => "users",
            :action => "show",
            :id => proposal_composer_id(offer.proposal)
          %>
        </div>
        <div class="description">
          <div class="offer_message">
            <%= offer_message(offer) %>
          </div>
        </div>

        <div class="offer_buttons" id="offer_buttons_navigation">
          <% if user_logged_id != proposal_composer_id(offer.proposal) %>
            <% if user_logged_id == user_visited_id %>
              <%= form_for [current_user,@negotiation], :remote => true do |form| %>
                <input type="hidden" name="offer_id" value="<%= offer_id(offer)%>" />
                <div class="offer_button">
                  <a href="<%= user_negotiations_path(@user)%>"><%= form.submit "negociar", :class => "btn btn-small btn-wide disabled", :id => "negotiate_button" %></a>
                </div>
              <% end %>
            <% else %>
              <%= form_for [current_user,@negotiation], :remote => true do |form| %>
                <input type="hidden" name="offer_id" value="<%= offer_id(offer)%>" />
                <div class="offer_button">
                  <a href="<%= user_negotiations_path(@user)%>"><%= form.submit "para mi", :class => "btn btn-small btn-wide disabled", :id => "negotiate_button" %></a>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <% if can? :update, offer %>
              <div class="offer_button">
                <%= link_to "edit",
                        {:controller => "offers",
                        :action => "edit",
                        :user_id => current_user.id,
                        :id => offer.id},
                        {:remote => true,
                         :class => "btn btn-small",
                         :id => "edit_offer_link"} %>
              </div>
            <% end %>
          <% end %>
        </div>
        <!--
        <div class="offer_date hidden">
          <%#= offer_datetime(offer) %>
        </div>
        -->
      </div>
    </div>
  <% end %>
<% else %>
  <div class="no_elements">
    <p>El usuario no tiene ninguna oferta actualmente</p>
  </div>
<% end %>