<% if (user_visited_offers.count != 0)%>
  <% user_visited_offers.each do |offer| %>
    <div class="offer" id="<%= offer_composer_id(offer) %>">
      <div class="offer_header">
        <div class="triangle">
            <%= link_to "x",
                user_offer_path(current_user,offer_id(offer)),
                :method => :delete,
                :confirm => "Are you sure?" %>
        </div>
        <div class="profile_image">
          <%= link_to offer_composer_image(offer),
            :controller => "users",
            :action => "show",
            :id => offer_composer_id(offer)
          %>
        </div>
        <div class="description">
            <%= offer_message(offer) %>
        </div>
      </div>
      <div class="offer_things">
        <div class="recieved">
          <% offer_composer_products(offer).each do |product| %>
            <div class="image_container">
              <div class="quantity_container"><%= product_quantity(product) %></div>
              <%= product_image(product) %>
            </div>
          <% end %>
        </div>
        <div class="given">
          <% offer_receiver_products(offer).each do |product| %>
            <div class="image_container">
              <div class="quantity_container"><%= product_quantity(product) %></div>
              <%= product_image(product) %>
            </div>
          <% end %>
        </div>
      </div>
      <% if user_logged_id == user_visited_id %>
        <%= form_for [current_user,@negotiation] do |form| %>
        <input type="hidden" name="user_composer_id" value="<%= offer_id(offer)%>" />
          <div class="offer_button">
            <%= form.submit "negociar", :id => 'new-offer-send-button' %>
          </div>
        <% end %>
      <% else %>
        <%= form_for [current_user,@negotiation] do |form| %>
          <input type="hidden" name="user_composer_id" value="<%= offer_id(offer)%>" />
          <div class="offer_button">
            <%= form.submit "para mi", :id => 'new-offer-send-button' %>
          </div>
        <% end %>
      <% end %>
      <div class="offer_date">
        <%= offer_datetime(offer) %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>El usuario no tiene ninguna oferta actualmente</p>
<% end %>

<% if user_logged_id != user_visited_id %>
  <%= render :partial => "layouts/new_offer" %>
<% end %>

