<% if user_logged_id != user_visited_id %>
  <div class="boton_nueva_offerta">
    <%= button_tag "Nueva Oferta", :class => "add_offer_button",
    :id => "new-offer-button" %>
  </div>
<% end %>

<% if (user_visited_offers.count != 0)%>
  <% @offers.each do |offer| %>
    <div class="offer" id="<%= offer_composer_id(offer) %>">
      <div class="offer_header">
        <div class="triangle">
          <%= link_to "x",
            user_offer_path(current_user,offer_id(offer)),
            :method => :delete,
            :confirm => "Are you sure?" %>
        </div>
        <div class="profile_image">
          <%= link_to offer_composer_image(offer),
            :controller => "users",
            :action => "show",
            :id => offer_composer_id(offer)
          %>
        </div>
        <div class="description">
            <%= offer_message(offer) %>
        </div>
      </div>
      <div class="offer_things">
        <div class="recieved">
          <% offer_composer_products(offer).each do |thing| %>
            <%= thing_image(thing) %>
          <% end %>
        </div>
        <div class="given">
          <% offer_receiver_products(offer).each do |thing| %>
            <%= thing_image(thing) %>
          <% end %>
        </div>
      </div>
      <div class="offer_button">
        <button>enviar</button>
      </div>
    </div>
  <% end %>
<% else %>
  <p>El usuario no tiene ninguna oferta actualmente</p>
<% end %>
