<div class="<%= yield :form_class %>" id="<%= yield :form_id %>">
  <%= form_for [@user, @offer], :remote => true do |form| %>
    <div class="products_area">
      <div class="title">
        <a href="#blank" id="new_offer_receiver_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="receiver_selector_area">
            <div class="user_image"><%= offer_modal_user_image(current_user) %></div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector" value="<%= id(current_user) %>">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image"><%= offer_modal_user_image(@user) %></div>
          </div>
        </a>
        <a href="#blank" id="new_message_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="message_selector_area">
            <div class="user_image"><%= initial_message_icon %></div>
          </div>
        </a>
      </div>

      <div class="products_container">
        <div class="products_list">
          <div id="receiver_content_area">
            <div class="item" id="receiver_money" owner_id="<%= id(current_user) %>" side="left" type="Cash">
              <div class="item_image"><%= money_image %></div>
              <div class="item_description">
                <div class="text"><textarea rows="1" placeholder="0.00$"></textarea></div>
              </div>
            </div>
            <% items(current_user).each do |item| %>
              <div class="item" id="<%= id(item) %>" image1='<%= product_modal_item_second_image(item) %>' image2='<%= product_modal_item_third_image(item) %>' side="left" type="Product">
                <div class="item_image"><%= offer_modal_receiver_product_image(item) %></div>
                <div class="item_description">
                  <div class="text"><%= name(item) %></div>
                </div>
              </div>
            <% end %>
          </div>

          <div id="composer_content_area" class="hidden_container">
            <div class="item" id="composer_money" owner_id="<%= id(@user) %>" side="right" type="Cash">
              <div class="item_image"><%= money_image %></div>
              <div class="item_description">
                <div class="text"><textarea rows="1" placeholder="0.00$"></textarea></div>
              </div>
            </div>
            <% items(@user).each do |item| %>
              <div class="item" id="<%= id(item) %>" image1='<%= product_modal_item_second_image(item) %>' image2='<%= product_modal_item_third_image(item) %>' side="right" type="Product">
                <div class="item_image"><%= offer_modal_composer_product_image(item) %></div>
                <div class="item_description">
                  <div class="text"><%= name(item) %></div>
                </div>
              </div>
            <% end %>
          </div>

          <div id="message_content_area" class="hidden_container">Offer initial message</div>
        </div>

        <div class="product_overview">
          <% 3.times do |i| %>
            <div class="overview_image" id="overview_image<%= i %>">Imagen</div>
          <% end %>
          <div class="overview_description">
            <div class="overview_description_title" id="overview_description_title">Product Title</div>
            <div class="overview_description_text" id="overview_description_text">Product Description</div>
          </div>
        </div>
      </div>
    </div>

    <% if controller.action_name == "new" %>
      <div class="offer_summary" id="offer_summary" maxItems="0">
        <div class="offer_inform">
          <div class="offer_header"><%= full_name(current_user) %></div>
          <div class="offer_products">
            <div class="summaryleft">
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
            <div class="summaryright">
              <div class="money_given" id="dineroOfrecesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
          </div>
          <div class="offer_info">
            <div class="profile_image"><%= offer_modal_user_image(current_user) %></div>
            <div class="description">
              <div class="offer_message">
                <%= form.text_area :message, :placeholder => "Initial message", :rows => "2", :required => true, :maxlength => "160" %>
              </div>
            </div>
            <div class="offer_buttons">
              <%= form.submit "Submit", :url => user_offers_path(@user), :class => 'offer_buttons_style', :id => @offer_send_button_id %>
              <button class="offer_buttons_style">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% else%>
      <div class="offer_summary" id="offer_summary" maxItems="0">
        <div class="offer_inform">
          <div class="offer_header"><%= full_name(current_user) %></div>
          <div class="offer_products">

            <div class="summaryleft">
              <% composer_articles(@offer).each do |good| %>
                <% if good._type == "Product" %>
                  <div class="item newitem" id="<%= id(good) %>"  side="left" type="<%= good._type %>">
                    <div class="item_image"><%= offer_modal_composer_product_image(good) %></div>
                    <div class="item_description">
                      <div class="text"><%= name(good) %></div>
                    </div>
                    <div class="data_input">
                      <input type="hidden" name="offer[goods][][type]" value="<%= good._type %>">
                      <input type="hidden" name="offer[goods][][item_id]" value="<%= id(good) %>">
                    </div>
                  </div>
                <% else %>
                  <div class="item newitem" id="<%= id(good) %>"  side="left" type="<%= good._type %>">
                    <!-- imagen  est치tica de la moneda (se puede hacer un helper mas peque침o)
                    valor del dinero -->
                    <div class="data_input">
                      <input type="hidden" name="offer[goods][][type]" value="<%= good._type %>">
                      <input type="hidden" name="offer[goods][][owner_id]" value="<%= id(@user) %>">
                      <input type="hidden" name="offer[goods][][amount]" value="<%= good.money.fractional %>">
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

            <div class="summaryright">
              <% receiver_articles(@offer).each do |good| %>
                <% if good._type == "Product" %>
                  <div class="item newitem" id="<%= id(good) %>"  side="left" type="<%= good._type %>">
                    <div class="item_image"><%= offer_modal_receiver_product_image(good) %></div>
                    <div class="item_description">
                      <div class="text"><%= name(good) %></div>
                    </div>
                    <div class="data_input">
                      <input type="hidden" name="offer[goods][][type]" value="<%= good._type %>">
                      <input type="hidden" name="offer[goods][][item_id]" value="<%= id(good) %>">
                    </div>
                  </div>
                <% else %>
                  <div class="item newitem" id="<%= id(good) %>"  side="left" type="<%= good._type %>">
                    <!-- imagen  est치tica de la moneda (se puede hacer un helper mas peque침o)
                    valor del dinero -->
                    <div class="data_input">
                      <input type="hidden" name="offer[goods][][type]" value="<%= good._type %>">
                      <input type="hidden" name="offer[goods][][owner_id]" value="<%= id(@user) %>">
                      <input type="hidden" name="offer[goods][][amount]" value="<%= good.money.fractional %>">
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>

          </div>
          <div class="offer_info">
            <div class="profile_image">
              <%= offer_modal_user_image(current_user) %>
            </div>
            <div class="description">
              <div class="offer_message">
                <%= form.text_area :message, :placeholder => "Initial message", :rows => "2", :required => true, :maxlength => "160" %>
              </div>
            </div>
            <div class="offer_buttons">
              <%= form.submit "Submit", :class => 'offer_buttons_style', :id => 'new-offer-send-button' %>
              <button class="offer_buttons_style">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
