<%= form_for(@offer) do |f| %>

  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  
  <div class="new_offer_title">
    <div class="icon">icono de nueva oferta</div>
    <div class="description">Crear Oferta</div>
  </div>    
  <div class="his_products">
    <div class="title">
      <div class="sender_image"><%= @user.image %></div>
      <div class="description">Sus productos</div>        
    </div>
    <div class="monney_to_recieve">
      <textarea name="" id="" cols="1" rows="1">
        Cantidad que pides
      </textarea>
      <button></button>
    </div>
    <div class="product_container">
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-title">
          <input type="text">
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-title">
          <input type="text">
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-title">
          <input type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="offer_summary">
    <div class="title">
      <div class="description">Resumen de la oferta</div>        
    </div>
    <div class="summary">        
      <div class="summary_header">          
        <div class="summary_header_image">
        </div>
        <div class="summary_header_text">
          <div class="nombre_usuario">Sergio</div>
          <textarea name="" id="" cols="5" rows="2"></textarea>
        </div>
        <div class="triangle"></div>
      </div>
      <div class="summary_body">          
        <div class="summary_body_products_given">            
          <div class="product_given">              
            <div class="product_given_imagen">
            </div>
            <div class="product_given_title">
            </div>
          </div>
        </div>
        <div class="summary_body_produts_recieved">            
            <div class="produt_recieved">
              <div class="produt_recieved_image">
              </div>
              <div class="produt_recieved_title">
            </div>
         </div>            
        </div>         
      </div>
    </div>
      <div class="summary_footer">
        <button type="button" name="boton" value="" class="addofferbutton">
          Enviar Oferta
        </button>                  
      </div>
  </div>

  <div class="my_products">
    <div class="title">
      <div class="reciever_image"></div>
      <div class="description">Mis productos</div>       
    </div>
    <div class="monney_to_give">
      <button >
      </button>
      <textarea name="" id="" cols="1" rows="1">Cantidad que ofreces</textarea>
    </div>
    <div class="product_container">
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-title">
          <input type="text">
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-title">
          <input type="text">
        </div>
      </div>
      <div class="product">
        <div class="product-image">
        </div>
        <div class="product-title">
          <input type="text">
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
