<% if (received_offers(@user).count != 0)%>
    <% received_offers(@user).reverse_each do |offer| %>
      <div class="offer" id="<%= id(offer) %>" data-id="<%= date_time(offer) %>">

        <div class="offer_header">
          <%= first_name(composer(offer)) %>
        </div>

        <div class="offer_items">
          <div class="recieved">
            <% composer_products(offer).each do |product| %>
              <div class="image_container">
                <%= image_service_tag(main_image(product)) %>
                <div class="description">
                  <%= name(product) %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="given">
            <% receiver_products(offer).each do |product| %>
              <div class="image_container">
                <%= image_service_tag(main_image(product)) %>
                <div class="quantity_container"><%= quantity(product) %></div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="offer_info">
          <div class="profile_image">
            <%= link_to image_service_tag(main_image(composer(offer))),
              :controller => "users",
              :action => "show",
              :id => id(composer(offer))
            %>
          </div>
          <div class="description">
            <div class="offer_message">
              <%= message(offer) %>
            </div>
          </div>

          <div class="offer_buttons" id="offer_buttons_navigation">

            <%= form_for [@user,@negotiation], :remote => true do |form| %>
              <input type="hidden" name="offer_id" value="<%= id(offer)%>" />
              <%= form.submit "negociar", :url => user_negotiations_path(@user), :id => "negotiate_button" %>
            <% end %>

            <%= form_for [@user,@negotiation], :remote => true do |form| %>
              <input type="hidden" name="offer_id" value="<%= id(offer)%>" />
              <a href="<%= user_negotiations_path(@user)%>"><%= form.submit "para mi", :class => "", :id => "negotiate_button" %></a>
            <% end %>



            <div class="offer_button">
              <%= link_to "edit",
                      {:controller => "offers",
                      :action => "edit",
                      :user_id => id(@user),
                      :id => id(offer)},
                      {:remote => true,
                       :id => "edit_offer_link"} %>
            </div>

          </div>

        </div>
      </div>
    <% end %>
  <% else %>
    <div class="no_elements">
      <p>El usuario no tiene ninguna oferta actualmente</p>
    </div>
<% end %>
