<div class="offer" id="<%= id(offer) %>" data-id="<%= date_time(offer) %>">

  <div class="debug_container"><%#= debug_info(offer) %></div>
  <div class="offer_header"><%= full_name(composer(offer)) %></div>

  <div class="offer_items">
    <div class="received">
      <% composer_articles(offer).each do |article| %>
        <% if (type(article) == "Product") %>
          <div class="image_container" title="<%= name(article) %>">
            <div class="debug_container"><%#= debug_info(article) %></div>
            <%= offer_composer_product_image(article) %>
            <!-- <div class="description"><%#= name(article) %></div> -->
          </div>
        <% else %>
          <div class="image_container">
            <div class="debug_container"><%#= debug_info(article) %></div>
            <%= offer_composer_money_image %>
            <div class="description"><%= amount(article) %></div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="given">
      <% receiver_articles(offer).each do |article| %>
        <% if (type(article) == "Product") %>
          <div class="image_container" title="<%= name(article) %>">
            <div class="debug_container"><%#= debug_info(article) %></div>
            <%= offer_receiver_product_image(article) %>
            <!-- <div class="description"><%#= name(article) %></div> -->
          </div>
        <% else %>
          <div class="image_container">
            <div class="debug_container"><%#= debug_info(article) %></div>
            <%= offer_receiver_money_image %>
            <div class="description"><%= amount(article) %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="offer_info">
    <div class="profile_image">
      <%= link_to offer_composer_image(composer(offer)),
        user_offers_url(offer.user_composer) %>
    </div>

    <div class="description">
      <div class="offer_message"><%= message(offer) %></div>
    </div>

    <div class="offer_buttons" id="offer_buttons_navigation">
      <%= form_for [@user,@negotiation], :remote => true do |form| %>
        <input type="hidden" name="offer_id" value="<%= id(offer)%>" />
        <%= form.submit "NEGOTIATE", :url => user_negotiations_path(@user), :class => 'offer_buttons_style', :id => "negotiate_button" %>
      <% end %>

      <%= form_for [@user,@negotiation], :remote => true do |form| %>
        <input type="hidden" name="offer_id" value="<%= id(offer)%>" />
        <%= form.submit "THAT'S FOR ME", :url => user_negotiations_path(@user), :class => 'offer_buttons_style', :id => "negotiate_button" %>
      <% end %>

      <%= link_to "EDIT",
              {:controller => "offers",
              :action => "edit",
              :user_id => id(@user),
              :id => id(offer)},
              {:remote => true,
               :class => 'offer_buttons_style',
               :id => "edit_offer_link"} %>

      <%= link_to "DELETE",
        user_offer_path(@user, offer),
        :method => :delete,
        :confirm => "Are you sure?",
        :class => 'offer_buttons_style' %>

    </div>
  </div>
</div>
