<div class="new-offer-form" id="new-offer-form">
  <%= form_for [@user,@offer], :remote => true do |form| %>
    <div class="products_area">
      <div class="title">
        <a href="#blank" id="new_offer_receiver_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="receiver_selector_area">
            <div class="user_image">
              <%= profile_user_face_image(@user) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image">
              <%= profile_user_face_image(@user) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_message_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="message_selector_area">
            <div class="user_image">
              <%= image_tag("/assets/images/message_icon.png") %>
            </div>
          </div>
        </a>
      </div>
      <div class="products_container">
        <div class="products_list">
          <div id="receiver_content_area">

            <div class="item" id="receiver_money" stock="1" quantity="0" side="left">
              <div class="item_image">
                <%= image_tag("/assets/images/offer_money.png") %>
              </div>
              <div class="item_description">
                <div class="text">
                  <textarea rows="1" placeholder="dinero"></textarea>
                </div>
              </div>
            </div>

            <% items(@user).each do |item| %>
              <div class="item" id="<%= id(item) %>" stock="<%= stock(item) %>" name="<%= name(item) %>" description="<%= description(item)%>"  side="left">
                <div class="item_image">
                  <%= item_image_big(item) %>
                </div>
                <!-- <div class="item_quantity">
                  <div class="quantity_number"><%= stock(item) %></div>
                </div> -->
                <div class="item_description">
                  <div class="text">
                    <%= name(item) %>
                  </div>
                </div>
              </div>

            <% end %>
          </div>
          <div id="composer_content_area" class="hidden_container">

            <div class="item" id="composer_money" stock="1" quantity="0" side="left">
              <div class="item_image">
                <%= image_tag("/assets/images/offer_money.png") %>
              </div>
              <div class="item_description">
                <div class="text">
                  <textarea rows="1" placeholder="dinero"></textarea>
                </div>
              </div>
            </div>

            <% items(@user).each do |item| %>
              <div class="item" id="<%= id(item) %>" stock="<%= stock(item) %>" name="<%= name(item) %>" description="<%= description(item)%>"  side="right">
                <div class="item_image">
                  <%= item_image_big(item) %>
                </div>
                <!-- <div class="item_quantity">
                  <div class="quantity_number"><%= stock(item) %></div>
                </div> -->
                <div class="item_description">
                  <div class="text">
                    <%= name(item) %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div id="message_content_area" class="hidden_container">
            Offer text
          </div>
        </div>
        <div class="product_overview">
          <div class="overview_image" id="overview_image">Imagen</div>
          <div class="overview_image" id="overview_image">Imagen</div>
          <div class="overview_image" id="overview_image">Imagen</div>

          <div class="overview_description">
            <div class="overview_description_title" id="overview_description_title">Product Title</div>
            <div class="overview_description_text" id="overview_description_text">Product Description</div>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" name="offer[user_receiver_id]" value="<%= id(@user) %>" />
    <input type="hidden" name="offer[money_attributes][user_id]" value="nil" id="usuario_id" />
    <input type="hidden" name="offer[money_attributes][quantity]" value="0" id="usuario_dinero" />

    <div class="offer_summary">
      <div class="offer_inform">
        <div class="offer_header">
          <%= nick(@user).capitalize %>
        </div>
        <div class="offer_products">
          <div class="recieved" id="summary_offer_received_products_container">
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
          </div>
          <div class="given" id="summary_offer_given_products_container">
            <div class="money_given" id="dineroOfrecesEnSumario">
              <div class="money_composition"></div>
            </div>
          </div>
        </div>
        <div class="offer_info">
          <div class="profile_image">
            <%= offer_user_face_image(@user) %>
          </div>
          <div class="description">
            <div class="offer_message">
              <%= form.text_area :message, :placeholder => "First Message", :rows => "2" %>
            </div>
          </div>
          <div class="offer_buttons">
            <%= form.submit "Submit", :url => user_offers_path(@user), :class => 'offer_buttons_style', :id => 'new-offer-send-button' %>
            <button class="offer_buttons_style">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
