<div class="offer" id="<%= composer_id(@offer) %>">
  <div id="options">
    <div class="menu">
      <%= link_to "Eliminar Oferta",
            user_offer_path(@user,id(@offer)),
            :method => :delete,
            :confirm => "Are you sure?" %>
      <a href="#blank">Opcion 2</a>
    </div>
  </div>
  <div class="offer_header">
    <div class="profile_image">
      <%= link_to image(@offer.proposal),
        :controller => "users",
        :action => "show",
        :id => composer_id(@offer.proposal)
      %>
    </div>
    <div class="description">
      <div class="composer_name">
        <%= composer_first_name(@offer.proposal) %>
      </div>
      <div class="offer_message">
        <%= message(@offer) %>
      </div>
    </div>
  </div>
  <div class="offer_items">
    <div class="recieved">
      <% composer_products(@offer.proposal).each do |product| %>
        <div class="image_container">
          <%= image(product) %>
          <div class="quantity_container"><%= quantity(product) %></div>
          <div class="artistic_layer_big"></div>
        </div>
      <% end %>
    </div>
    <div class="given">
      <% receiver_products(@offer.proposal).each do |product| %>
        <div class="image_container">
          <%= image(product) %>
          <div class="quantity_container"><%= quantity(product) %></div>
          <div class="artistic_layer_small"></div>
        </div>
      <% end %>
    </div>
  </div>


    <%= form_for [@user,@negotiation] do |form| %>
      <input type="hidden" name="offer_id" value="<%= id(@offer)%>" />
      <div class="offer_button">
        <%= form.submit "negociar", :id => "negotiate_button"  %>
      </div>
    <% end %>

    <%= form_for [@user,@negotiation] do |form| %>
      <input type="hidden" name="offer_id" value="<%= id(@offer)%>" />
      <div class="offer_button">
        <%= form.submit "para mi", :class => "", :id => "negotiate_button" %>
      </div>
    <% end %>


    <%= link_to "edit",
            {:controller => "offers",
            :action => "edit",
            :user_id => id(@user),
            :id => @offer.id},
            {:remote => true,
             :id => "edit_offer_link"} %>


  <div class="offer_date">
    <%= date_time(@offer) %>
  </div>
</div>
