<div class="<%= yield :form_class %>" id="<%= yield :form_id %>">
  <%= form_for [@user, @item], :remote => true do |form| %>
    <div class="new_item_modal">
      <div class="new_item_title"><%= yield :form_title %></div>
      <div class="new_item_container">
        <div class="new_item_image">
          <div class="image_container" id="original_image_container">
            <%= product_modal_item_main_image(@item) %>
          </div>
        </div>
        <div class="new_item_description">
          <div class="add_images">

            <div class="add_image_container" id="inputcontainer1">
              <%= product_modal_item_first_image(@item) %>
              <div class="input_container">
                <div class="input_text">+</div>
                <%= cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'1')"}) %>
                <%# if images(@item).size > 0 %>
                  <input type="hidden" name="item[images][][public_id]" value="<%= yield :first_item_id %>" />
                  <input type="hidden" name="item[images][][main]" value="false" />
                <%# end %>
              </div>
              <div class="input_container" style="left: 60px;">
                <div class="input_text delete_image_selected">-</div>
              </div>
            </div>

            <div class="add_image_container" id="inputcontainer2">
              <%= product_modal_item_second_image(@item) %>
              <div class="input_container">
                <div class="input_text">+</div>
                <%= cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'2')"}) %>
                <%# if images(@item).size > 1 %>
                  <input type="hidden" name="item[images][][public_id]" value="<%= yield :second_item_id %>" />
                  <input type="hidden" name="item[images][][main]" value="true" />
                <%# end %>
              </div>
              <div class="input_container" style="left: 60px;">
                <div class="input_text delete_image_selected">-</div>
              </div>
            </div>

            <div class="add_image_container" id="inputcontainer3">
              <%= product_modal_item_third_image(@item) %>
              <div class="input_container">
                <div class="input_text">+</div>
                <%= cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'3')"}) %>
                <%# if images(@item).size > 2 %>
                  <input class="hidden_image_input" type="hidden" name="item[images][][public_id]" value="<%= yield :third_item_id %>" />
                  <input class="hidden_image_input" type="hidden" name="item[images][][main]" value="false" />
                <%# end %>
              </div>
              <div class="input_container" style="left: 60px;">
                <div class="input_text delete_image_selected">-</div>
              </div>
            </div>

          </div>

          <div class="title">
            <%= form.text_area :name,
                    :placeholder => "Product name...",
                    :size => "4x1",
                    :required => true,
                    :maxlength => "20" %>
          </div>

          <div class="description">
            <%= form.text_area :description,
                    :placeholder => "Product description...",
                    :size => "10x5",
                    :required => true,
                    :maxlength => "200" %> %>
          </div>
        </div>

        <div class="item_options">
          <%= form.submit  "Save",
          :id => 'new-item-send-button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">

</script>

<script type="text/javascript">
  // $("#item_image_container").draggable({
  //   stop: function(ev, ui) {
  //       var hel = ui.helper, pos = ui.position;
  //       //horizontal
  //       var h = -(hel.outerHeight() - $(hel).parent().outerHeight());
  //       if (pos.top >= 0) {
  //           hel.animate({ top: 0 });
  //       } else if (pos.top <= h) {
  //           hel.animate({ top: h });
  //       }
  //       // vertical
  //       var v = -(hel.outerWidth() - $(hel).parent().outerWidth());
  //       if (pos.left >= 0) {
  //           hel.animate({ left: 0 });
  //       } else if (pos.left <= v) {
  //           hel.animate({ left: v });
  //       }
  //   }
  // });

  // $("#item_image_container").mouseover(function(event) {
  //     $(this).wheelzoom();
  //   }).mouseout(function(event) {
  //     $(this).off( event );
  // });

  $("#item_image_container").on('load', function (event) {
      $(this).wheelzoom();
      $(this).off( event );
  });

  $(".add_image_container").on('click','img', function (event) {
    if($(this).attr('src') != ''){
      var image = $(this).clone();
      $('#original_image_container').find('img').replaceWith(image);
    }
  });

  $(".input_container").on('click', '.delete_image_selected', function (event){
    $(this).closest('.add_image_container').find(".hidden_image_input").remove();
    $(this).closest('.add_image_container').find('img').remove();
    $(this).closest('.add_image_container').prepend("<img src=''>");
  });

</script>
