<div class="item">
  <div class="item_image">
    <% if controller.controller_name === "items" %>      

      <%= link_to "Añadir producto",
        new_user_item_path(@user),
        {:remote => true, :role => "button", :class => "btn btn-success"}  %>
      
    <% end %>
  </div>

  <div class="item_description">
    <div class="text">
    </div>
  </div>   

</div>


<% items(@user).reverse_each do |item| %>
  <div class="item" id="<%= id(item) %>">

    <div class="item_image">
      <%= image(item) %>
    </div>

    <div class="item_quantity">
      <div class="quantity_number"><%= stock(item) %></div>
    </div>

    <div class="item_description">
      <div class="text">
        <%= description(item) %>
      </div>
    </div>

    <div class="item_options">
      <%= link_to "editar producto",
        edit_user_item_path(@user,item),
        :remote => true,
        :class => "btn btn-small disable" %>
    </div>

  </div>
<% end %>