<div class="edit-item-form" id="edit-item-form">
  <%= form_for [@user,@item], :remote => true do |form| %>
    <div class="new_item_title">
      Edita este producto
    </div>
    <div class="new_item_container">
      <div class="new_item_image">
        <div class="image_container">
          <%= form.file_field :image,
            :id => "item_image",
            :onchange => "imageSelection(this);" %>
          <img class="item_image_container" id="item_image_container" src="<%= image_service_path(main_image(item)) %>">
        </div>
      </div>
      <div class="new_item_description">
        <div class="title">
          <%= form.text_area :name,
                  :placeholder => "Título del producto",
                  :size => "4x1" %>
        </div>
        <div class="description">
          <%= form.text_area :description,
                    :placeholder => "Describa de forma concisa el producto",
                    :size => "10x5" %>
        </div>
        <div class="new_item_stock">
          <%= form.text_area :stock,
                :placeholder => "Unidades del producto de las que dispone",
                :size => "4x1" %>
        </div>
      </div>
    </div>
    <div class="item_options">
      <%= form.submit  "Save Changes",
      :id => 'new-item-send-button' %>
    </div>
  <% end %>
</div>
