<div class="edit-item-form" id="edit-item-form">
  <%= form_for [@user, @item], :remote => true do |form| %>
    <div class="new_item_modal">
      <div class="new_item_title">
        ADD A NEW PRODUCT TO YOUR LIST
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->      </div>
      <div class="new_item_container">
        <div class="new_item_image">
          <div class="image_container" id="original_image_container">
            <%= products_wall_item_image(@item) %>
          </div>
          PPAL IMAGE SELECTION
        </div>
        <div class="new_item_description">
          <div class="add_images">

            <div class="add_image_container" id="inputcontainer1">
              <img src="">
              <div class="input_container">
                <div class="input_text">add</div>
                <%= cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'1')"}) %>
              </div>
            </div>
            <div class="add_image_container" id="inputcontainer2">
              <img src="">
              <div class="input_container">
                <div class="input_text">add</div>
                <%= cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'2')"}) %>
              </div>
            </div>
            <div class="add_image_container" id="inputcontainer3">
              <img src="">
              <div class="input_container">
                <div class="input_text">add</div>
                <%= cl_image_upload_tag(:image_id, :html => {:class => "image_upload", :onchange => "imageSelection(this,'3')"}) %>
              </div>
            </div>
          </div>

          <div class="title">
            <%= form.text_area :name,
                    :placeholder => "Product name...",
                    :size => "4x1" %>
          </div>
          <div class="description">
            <%= form.text_area :description,
                      :placeholder => "Product description...",
                      :size => "10x5" %>
          </div>
          <!-- <div class="new_item_stock">
            <%#= form.text_area :stock,
                  :placeholder => "Available Quantity",
                  :size => "4x1" %>
          </div> -->
        </div>
        <div class="item_options">
          <%= form.submit  "Edit",
          :id => 'new-item-send-button' %>
        </div>
      </div>
    </div>
  <% end %>
</div>



<script type="text/javascript">
  // $("#item_image_container").draggable({
  //   stop: function(ev, ui) {
  //       var hel = ui.helper, pos = ui.position;
  //       //horizontal
  //       var h = -(hel.outerHeight() - $(hel).parent().outerHeight());
  //       if (pos.top >= 0) {
  //           hel.animate({ top: 0 });
  //       } else if (pos.top <= h) {
  //           hel.animate({ top: h });
  //       }
  //       // vertical
  //       var v = -(hel.outerWidth() - $(hel).parent().outerWidth());
  //       if (pos.left >= 0) {
  //           hel.animate({ left: 0 });
  //       } else if (pos.left <= v) {
  //           hel.animate({ left: v });
  //       }
  //   }
  // });


  // $("#item_image_container").mouseover(function(event) {
  //     $(this).wheelzoom();
  //   }).mouseout(function(event) {
  //     $(this).off( event );
  // });

  $("#item_image_container").on('load', function (event) {
      $(this).wheelzoom();
      $(this).off( event );
  });

  $(".add_image_container").on('click','img', function (event) {
    if($(this).attr('src') != ''){
      var image = $(this).clone();
      $('#original_image_container').find('img').replaceWith(image);
    }
  });

</script>
