<div class="new-item-form" id="new-item-form">
  <%= form_for [@user,@item], :remote => true do |form| %>
    <div class="new_item_modal">
      <div class="new_item_title">
        NUEVO PRODUCTO
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="new_item_container">
        <div class="new_item_image">
          <div class="image_container">
            <img id="item_image_container" src="">
          </div>
          <div class="input_container">
            <div class="input_text">ADJUNTAR FOTO</div>
              <%= form.file_field :image,
                :id => "item_image",
                :onchange => "imageSelection(this);" %>
          </div>
        </div>
        <div class="new_item_description">
          <div class="title">
            <%= form.text_area :name,
                    :placeholder => "Título",
                    :size => "4x1" %>
          </div>
          <div class="description">
            <%= form.text_area :description,
                      :placeholder => "Descripcion...",
                      :size => "10x5" %>
          </div>
          <div class="new_item_stock">
            <%= form.text_area :stock,
                  :placeholder => "Cantidad disponible",
                  :size => "4x1" %>
          </div>
        </div>
        <div class="item_options">
          <%= form.submit  "Add",
          :id => 'new-item-send-button',
          :class => "btn btn-mini" %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<script type="text/javascript">

  // $("#item_image_container").draggable({

  //   stop: function(ev, ui) {
  //       var hel = ui.helper, pos = ui.position;
  //       //horizontal
  //       var h = -(hel.outerHeight() - $(hel).parent().outerHeight());
  //       if (pos.top >= 0) {
  //           hel.animate({ top: 0 });
  //       } else if (pos.top <= h) {
  //           hel.animate({ top: h });
  //       }
  //       // vertical
  //       var v = -(hel.outerWidth() - $(hel).parent().outerWidth());
  //       if (pos.left >= 0) {
  //           hel.animate({ left: 0 });
  //       } else if (pos.left <= v) {
  //           hel.animate({ left: v });
  //       }
  //   }

  // });

  $("#item_image_container").on('load', function (event) {
      $(this).wheelzoom();
      $(this).off( event );
  });

</script>
