<div class="item thumbnail" id="<%= item_id(@item) %>">
  <%= item_inboard(@item) %>
  <div class="caption">
    <h5><%= item_name(@item) %></h5>
    <p><%= item_description(@item) %></p>
    <p>
      <%= link_to "editar producto",
          edit_user_item_path(current_user,@item),
          :remote => true %>
    </p>
  </div>
</div>