<% user_logged_negotiations.each do |negotiation| %>
  <div class="negotiation" id="negotiation<%= negotiation._id %>">

    <div class="negotiation_offer">      
      <div class="offer_header">
        <div class="triangle">            
            <img src="http://localhost:3000/images/optionsicon.png" alt="options" id="options_button">
        </div>
        <div class="profile_image">
          <%= link_to negotiation_composer_image(negotiation),
            :controller => "users",
            :action => "show",
            :id => negotiation_composer_id(negotiation)
          %>
        </div>
        <div class="description">
          <div class="composer_name">
            <%= negotiation_composer_name(negotiation) %>
          </div>                      
        </div>
      </div>
      <div class="offer_things">
        <div class="recieved">
          <% negotiation_composer_products(negotiation).each do |product| %>
            <div class="image_container">              
              <%= product_image(product) %>
              <div class="quantity_container">
                <%= product_quantity(product) %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="given">
          <% negotiation_receiver_products(negotiation).each do |product| %>
            <div class="image_container">
              <%= product_image(product) %>
              <div class="quantity_container"><%= product_quantity(product) %></div> 
            </div>
          <% end %>
        </div>
      </div>     
      <div class="offer_button">
        <button class="btn btn-small disabled"> Aceptar</button>
        <button class="btn btn-small disabled"> Rechazar</button>
      </div>      
      <div class="offer_date">
        <%#= negotiation_datetime(negotiation) %>
      </div>
    </div>  

    <div class="dialog_container">
      <div class="dialog_head">
        <div class="dialogin">Conversation...</div>
        <%= link_to "x",
              user_negotiation_path(current_user,negotiation.id),
              :method => :delete,
              :confirm => "Are you sure?"
        %>
      </div>
      <div class="conversation" id="conversationofnegotiation">
        <%# negotiation.messages.each do |message| %>
          <div class="comment">
            <div class="comment_user_image">
              <%#= image_tag(message_image(message)) %>
            </div>
            <div class="comment_text">
              <%#= message_text(message) %>
            </div>
            <div class="comment_datetime">
              <%#= message_datetime(message) %>
            </div>
          </div>
        <%# end %>
      </div>

      <div class="writting_box">
        <form action="">
          <div class="message">
            <input type="text" placeholder="write here">
          </div>          
        </form>
      </div>
    </div>
  </div>
<% end %>


