<% negotiations(@user).each do |negotiation| %>
  <div class="negotiation" id="<%= id(negotiation) %>">

    <div class="negotiation_offer">

      <div class="oponent_info">
        <div class="oponent_image">
          <%= composer_image(last_proposal(negotiation)) %>
        </div>
        <div class="oponent_description">
          <div class="oponent_name">
            <%= composer_first_name(last_proposal(negotiation)) %>
          </div>
          <div class="oponent_address">
            <%= composer_full_name(last_proposal(negotiation)) %>
          </div>
        </div>
      </div>

      <div class="offer_triangle">
        <div class="triangle"></div>
      </div>

      <div class="offer_items">
        <div class="recieved">
          <% composer_products(last_proposal(negotiation)).each do |product| %>
            <div class="image_container">
              <%= image(product) %>
              <div class="quantity_container">
                <%= quantity(product) %>
              </div>
              <div class="description">
                <%= name(product) %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="given">
          <% proposal_receiver_products(last_proposal(negotiation)).each do |product| %>
            <div class="image_container">
              <%= image(product) %>
              <div class="quantity_container"><%= quantity(product) %></div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="offer_info">

        <div class="offer_buttons">
          <%= link_to 'nueva',
              edit_user_negotiation_path(current_user,id(negotiation)),
              :remote => true,
              :class => "btn btn-small btn-warning" %>

          <% if (can_sign?(last_proposal(negotiation),current_user)) %>
            <%= link_to 'firmar',
                sign_user_negotiation_path(id(current_user),id(negotiation)),
                :remote => true,
                :class => "btn btn-small btn-success" %>
          <% end %>

          <% if (can_confirm?(last_proposal(negotiation),current_user)) %>
            <%= link_to 'confirmar',
                confirm_user_negotiation_path(id(current_user),id(negotiation)),
                :remote => true,
                :class => "btn btn-small btn-success" %>
          <% end %>

          <% if (can_cancel?(last_proposal(negotiation),current_user)) %>
            <%= link_to 'cancel',
                cancel_user_negotiation_path(id(current_user),id(negotiation)),
                :remote => true,
                :class => "btn btn-small btn-danger" %>
          <% end %>
        </div>
            <!--
            <div class="offer_date">
              <%#= date_time(offer) %>
            </div>
            -->
      </div>
    </div>

    <div class="dialog_container">
      <!--
      <div class="dialog_head">
        <div class="dialogin">Conversation...</div>
        <%#= link_to "x",
              user_negotiation_path(current_user,id(negotiation)),
              :method => :delete,
              :confirm => "Are you sure?"
        %>
      </div>
    -->

      <div class="conversation" id="conversationofnegotiation">
        <%= render :partial => 'negotiations/partials/conversation', locals: { negotiation: negotiation} %>
      </div>

      <div class="writting_box">
        <%= form_for @negotiation, :url => addComment_user_negotiation_path(id(current_user), id(negotiation)), :remote => true do |f| %>
          <div class="message">
            <input type="text" placeholder="write here" name="text">
          </div>
        <% end %>
      </div>
      <div class="dialog_head">
        <div class="option_icons">
          <div class="icon">op1</div>
          <div class="icon">op2</div>
        </div>
      </div>
    </div>
  </div>
<% end %>