<% user_logged_negotiations.each do |negotiation| %>
  <div class="negotiation" id="negotiation<%= negotiation._id %>">
    <div class="proposition_container">
      <div class="proposition">
         <div class="proposition_header">
          <div class="triangle"></div>
          <div class="profile_image">
            <%= negotiation_composer_image(negotiation) %>
          </div>
        </div>
        <div class="offered_things">
          <% negotiation_composer_products(negotiation).each do |product| %>
            <div class="offered_product">
              <%= product_image(product) %>
              <div class="product-title">
                <%= product_name(product) %>
              </div>
            </div>
          <% end %>
          <div class="orderer_money">
            <%#= negotiation.proposals.last.money.quantity %>
          </div>
        </div>

        <div class="orderer_things">
          <% negotiation_receiver_products(negotiation).each do |product| %>
            <div class="orderer_product">
              <%= product_image(product) %>
              <div class="product-title">
                <%= product_name(product) %>
              </div>
            </div>
          <% end %>
          <div class="orderer_money">
            <%#= negotiation.proposals.last.money.quantity %>
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="reputation">
        </div>
        <div class="action_buttons">
          <button>Aceptar oferta</button>
          <button>Cambiar Oferta</button>
        </div>
      </div>
    </div>
    <div class="dialog_container">
      <div class="dialog_head">
        <div class="dialogin">Conversation...</div>
        <%= link_to "x",
              user_negotiation_path(current_user,negotiation.id),
              :method => :delete,
              :confirm => "Are you sure?"
        %>
      </div>
      <div class="conversation" id="conversationofnegotiation">
        <%# negotiation.messages.each do |message| %>
          <div class="comment">
            <div class="comment_user_image">
              <%#= image_tag(message_image(message)) %>
            </div>
            <div class="comment_text">
              <%#= message_text(message) %>
            </div>
            <div class="comment_datetime">
              <%#= message_datetime(message) %>
            </div>
          </div>
        <%# end %>
      </div>

      <div class="writting_box">
        <form action="">
          <div class="message">
            <input type="">
          </div>
          <div class="sender">
            <input type="">
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>


