<div class="header">

  <div class="clearfix header_container">

    
    <div class="header_user_data">
      <div class="header_user_description">
        <div class="header_description_element"><%= first_name(@user) %></div>
        <div class="header_description_element"><%= last_name(@user) %></div>
      </div>
      <div class="header_user_image">
        <div class="header_user-image_container">
          <%= link_to image(@user.profile),
              :controller => "users",
              :action => "show",
              :id => id(@user)
          %>
        </div>
      </div>
    </div>
    

    <div class="header_navigation_icons"  id="page_header_options">
      <nav class="header_menu">
          <div class="header_menu_icon">
            <%= link_to image_tag("/assets/images/friends.png"),
                user_profile_path(@user),
                :remote => true,
                :id => "link_profile"%>
          </div>
          <div class="header_menu_icon">
            <%= link_to image_tag("/assets/images/products.png"),
                user_items_path(@user),
                :remote => true,
                :id => "link_items"%>
          </div>
          <div class="header_menu_icon">
            <%= link_to image_tag("/assets/images/negotiations.png"),
                user_alerts_path(@user),
                :remote => true,
                :id => "link_items"%>
          </div>
          <div class="header_menu_icon">
            <%= link_to image_tag("/assets/images/deals.png"),
                user_deals_path(@user),
                :remote => true,
                :id => "link_items"%>
          </div>
        </nav>
    </div>

    <div class="header_options">

      <div class="header_options_logout"></div>

      <div class="header_options_search">
        <input type="search" name="busqueda" />
      </div>

    </div>

  </div>
</div>