<% if (controller.controller_name === "alerts") %>

  <!-- Barra de navegacion de alertas -->
  <div class="navbar" id="search_bar">
    <div class="navbar-inner">
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <div class="contentside_search_alert_bar">
          <div class="new_petitions_find_number">9</div>
          <div class="new-petitions_find_title">Peticiones Nuevas Encontradas</div>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <!-- Barra de navegacion general -->
  <ul class="nav" id="navigation_bar_menu">
    <% if (controller.controller_name === "users") or (controller.controller_name === "offers") %>
      <li id="offers-tab" class="active">
    <% else %>
      <li id="offers-tab">
    <% end %>
      <%= link_to "Ofertas", user_offers_path(@user), remote: true %>
    </li>

    <% if controller.controller_name === "negotiations" %>
      <li id="negotiations-tab" class="active">
    <% else %>
      <li id="negotiations-tab">
    <% end %>
      <%= link_to "Negociaciones", user_negotiations_path(@user), remote: true %>
    </li>

    <% if controller.controller_name === "deals" %>
      <li id="deals-tab" class="active">
    <% else %>
      <li id="deals-tab">
    <% end %>
      <%= link_to "Tratos", user_deals_path(@user), remote: true %>
    </li>

    <% if (controller.controller_name === "items") %>
      <li style="float:right" class="active">
        <%= link_to "Productos", user_items_path(@user), remote: true %>
      </li>
    <% else %>
      <li style="float:right;border-right:none">
        <%= link_to "Productos", user_items_path(@user), remote: true %>
      </li>
    <% end %>
  </ul>

<% end %>






