<div class="left_container" id="leftContainer">

   <% if (controller.controller_name === "alerts") %>

    <section class="user_container" id="user-side">

      <%= render partial: 'alerts/alert_list' %>

    </section>

   <% else %>

    <section class="user_container" id="user-side">

      <nav class="nav_bar"></nav>

      <!-- El area de informacion del usuario -->
      <aside class="user_container_profile" id="user_data_container">

        <div class="image_side">
          <div class="image">
            <%= image_tag "/assets/images/playa.jpg" %>
          </div>
        </div>

        <div class="description_side">
          <div class="profile_image">
            <div class="image_wrapper">
              <%= link_to image_service_tag(main_image(@user)),
                :controller => "users",
                :action => "show",
                :id => id(@user)
              %>
            </div>
          </div>

          <div class="relevan_data">
            <div class="percentage">
              <div class="percentage_icon">
                <%= image_tag("/assets/images/estrella.png") %>
              </div>
              <div class="percentage_num">75%</div>
            </div>
            <div class="numfriends">
              <div class="numfriends_icon">
                <%= image_tag("/assets/images/amigos.png") %>
              </div>
              <div class="numfriends_num">350</div>
            </div>
          </div>

          <div class="user_name">
            <div class="name"><%= full_name(@user).upcase %></div>
            <div class="address">Logroño, La Rioja</div>
          </div>


          <div class="new_offer_button">
              <%= link_to "HAZME UNA OFERTA",
                new_user_offer_path(id(@user)), :remote => true, class: "new_offer_button_style"  %>
          </div>

        </div>

      </aside>

      <!-- Area de peticiones del usuario -->

      <aside class="user_container_requests" id="user_request_list">

        <div class="request_list_title">

        <div class="text_side">PETICIONES</div>
        <%= link_to "+",
          new_user_request_path(@user),
          {:remote => true, :class => "add_request"}
        %>

        </div>

        <aside class="requests_requestsList" id="request_list_container">
          <% if (requests(@user).count != 0)%>
            <%= render :partial => 'application/request_list' %>
          <% else %>
            <div class="no_elements">
              <p>El usuario no tiene ninguna peticion actualmente</p>
            </div>
          <% end %>
        </aside>

      </aside>


    </section>

   <% end %>

</div>
