<div class="negotiation" id="<%= id(negotiation) %>">

  <div class="debug_container"><%#= debug_info(negotiation) %></div>
  <div class="negotiation_offer">

    <div class="oponent_info">
      <div class="oponent_image">
        <%= negotiation_user_image(composer(proposal(negotiation))) %>
      </div>
      <div class="oponent_description">
        <div class="oponent_name">
          <%= first_name(composer(proposal(negotiation))) %>
        </div>
        <div class="oponent_address">
          <%= full_name(composer(proposal(negotiation))) %>
        </div>
      </div>
    </div>

    <div class="offer_items">
      <div class="received">
        <% composer_articles(proposal(negotiation)).each do |product| %>
          <div class="image_container">
            <div class="debug_container"><%#= debug_info(product) %></div>
            <%= negotiation_receiver_product_image(product) %>
            <div class="description">
              <%= name(product) %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="given">
        <% receiver_articles(proposal(negotiation)).each do |product| %>
          <div class="image_container">
            <div class="debug_container"><%#= debug_info(product) %></div>
            <%= negotiation_composer_product_image(product) %>
            <div class="description">
              <%= name(product) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="offer_info">
      <div class="offer_buttons">
        <%= link_to 'NEW',
            edit_user_negotiation_path(@user,id(negotiation)),
            class: "new_deal_button_style",
            :remote => true %>

        <% if (can_sign?(negotiation,@user)) %>
          <%= link_to 'SIGN',
              sign_user_negotiation_path(id(@user),id(negotiation)),
              class: "sign_deal_button_style",
              :remote => true %>
        <% end %>

        <% if (can_confirm?(negotiation,@user)) %>
          <%= link_to 'CONFIRM',
              confirm_user_negotiation_path(id(@user),id(negotiation)),
              class: "sign_deal_button_style",
              :remote => true %>
        <% end %>


        <%= link_to 'CANCEL',
            cancel_user_negotiation_path(id(@user),id(negotiation)),
            class: "cancel_deal_button_style",
            :remote => true %>
      </div>
    </div>
  </div>

  <div class="dialog_container">

    <div class="dialog_head">
      <div class="option_icons">
        <div class="icon">
          <%= link_to "leave",
              user_negotiations_path(@user, id(negotiation)),
              :method => :delete,
              :confirm => "Are you sure?",
              :class => 'offer_buttons_style' %>
        </div>
      </div>
    </div>

    <div class="conversation" id="conversationofnegotiation">
      <% messages(negotiation).each do |message| %>
        <div class="comment">
          <div class="comment_user_image"><%= negotiation_message_user_image(@user) %></div>
          <div class="comment_text"><%= text(message) %></div>
          <div class="comment_datetime"><%= date_time(message) %></div>
        </div>
      <% end %>
      <div class="option_buttons">
        <div class="icon"><%= sound_icon %></div>
        <div class="icon"><%= video_icon %></div>
      </div>
    </div>

    <div class="writting_box">
      <div class="message">
        <%= form_for :negotiation, url: {action: "pusher_message"}, :remote => true do |form| %>
          <textarea class="txt_area_writer" id="message_writer" name="message"></textarea>
          <input type="hidden" name="negotiation_id" value="<%= id(negotiation)%>">
          <%= form.submit "Send", :id => "send_message_button" %>
        <% end %>
      </div>
    </div>

  </div>
</div>
