<aside class="main_container_elementList" id="ppal_container" offerWidth="286">
  <% negotiations(@user).each do |negotiation| %>
    <div class="negotiation" id="<%= id(negotiation) %>">

      <div class="negotiation_offer">

        <div class="oponent_info">
          <div class="oponent_image">
            <%= negotiation_user_face_image(composer(proposal(negotiation))) %>
          </div>
          <div class="oponent_description">
            <div class="oponent_name">
              <%= first_name(composer(proposal(negotiation))) %>
            </div>
            <div class="oponent_address">
              <%= full_name(composer(proposal(negotiation))) %>
            </div>
          </div>
        </div>

        <div class="offer_items">
          <div class="recieved">
            <% composer_products(proposal(negotiation)).each do |product| %>
              <div class="image_container">
                <%= item_image_big(product) %>
                <div class="description">
                  <%= name(product) %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="given">
            <% receiver_products(proposal(negotiation)).each do |product| %>
              <div class="image_container">
                <%= item_image_small(product) %>
                <div class="description">
                  <%= name(product) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="offer_info">

          <div class="offer_buttons">
            <%= link_to 'NEW',
                edit_user_negotiation_path(@user,id(negotiation)),
                class: "new_deal_button_style",
                :remote => true %>

            <%# if (can_sign?(proposal(negotiation),@user)) %>
              <%= link_to 'SIGN',
                  sign_user_negotiation_path(id(@user),id(negotiation)),
                  class: "sign_deal_button_style",
                  :remote => true %>
            <%# end %>

            <%# if (can_confirm?(proposal(negotiation),@user)) %>
              <%= link_to 'CONFIRM',
                  confirm_user_negotiation_path(id(@user),id(negotiation)),
                  class: "sign_deal_button_style",
                  :remote => true %>
            <%# end %>

            <%# if (can_cancel?(proposal(negotiation),@user)) %>
              <%= link_to 'CANCEL',
                  cancel_user_negotiation_path(id(@user),id(negotiation)),
                  class: "cancel_deal_button_style",
                  :remote => true %>
            <%# end %>
          </div>

        </div>
      </div>

      <div class="dialog_container">

        <div class="dialog_head">
          <div class="option_icons">
            <!-- <div class="icon"><%#= image_tag("/assets/images/close.png") %></div> -->
          </div>
        </div>

        <div class="conversation" id="conversationofnegotiation">
          <% messages(negotiation).each do |message| %>
            <div class="comment">
              <div class="comment_user_image">
                <%= message_user_face_image(message) %>
              </div>
              <div class="comment_text">
                <%= text(message) %>
              </div>
              <div class="comment_datetime">
                <%= date_time(message) %>
              </div>
            </div>
          <% end %>
          <div class="option_buttons">
            <div class="icon"><%= sound_icon %></div>
            <div class="icon"><%= video_icon %></div>
          </div>
        </div>

        <div class="writting_box">
          <div class="message">
            <%= form_for :negotiation, url: {action: "pusher_message"}, :remote => true do |form| %>
              <textarea class="txt_area_writer" id="message_writer" name="message"></textarea>
              <input type="hidden" name="negotiation_id" value="<%= id(negotiation)%>">
              <input type="hidden" name="sender_image_tag" id="sender_image_tag" value="0">
              <%= form.submit "Send", :id => "send_message_button" %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</aside>



<script type="text/javascript">
  var cl_image_path = '<%= message_user_face_image(@user) %>';
  $("#sender_image_tag").attr('value', cl_image_path);
</script>
