<div class="edit-negotiation-form" id="edit-negotiation-form">
  <%= form_for [@user,@negotiation], :remote => true do |form| %>
    <div class="products_area">
      <div class="title" id="negotiators_header">
        <a href="#blank" id="new_offer_receiver_selector" value="<%= id(receiver(proposal(@negotiation))) %>">
          <div class="user_products_selector user_selected" id="receiver_selector_area">
            <div class="user_image">
              <%= negotiation_tab_user_image(receiver(proposal(@negotiation))) %>
            </div>
            <div class="description">
              <%= first_name(receiver(proposal(@negotiation))) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector" value="<%= id(composer(proposal(@negotiation)) %>">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image">
              <%= negotiation_tab_user_image(composer(proposal(@negotiation))) %>
            </div>
            <div class="description">
              <%= first_name(composer(proposal(@negotiation))) %>
            </div>
          </div>
        </a>
      </div>
      <div class="his_products" id="receiver_products_container">
        <div class="money">
          <textarea name="" id="dineroPides" cols="1" rows="1" placeholder="Cantidad que pides"></textarea>
          <button id="dineroPidesBotonAgregar">add</button>
        </div>
        <div class="product_container" id="his_product_container">
          <% items(receiver(proposal(@negotiation))).each do |item| %>
            <div class="product" item_id="<%= id(item)%>" stock="<%= stock(item) %>">
              <div class="quantity_container"></div>
              <div class="product_image">
                <%= item_big_image(item) %>
              </div>
              <div class="product_title">
                <%= name(item) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my_products container_invisible" id="composer_products_container">
        <div class="money">
          <textarea name="" id="dineroOfreces" cols="1" rows="1" placeholder="Cantidad que ofreces"></textarea>
          <button id="dineroOfrecesBotonAgregar">add</button>
        </div>
        <div class="product_container" id="my_product_container">
          <% items(composer(proposal(@negotiation))).each do |item| %>
            <div class="product" item_id="<%= id(item)%>" stock="<%= stock(item) %>">
              <div class="quantity_container"></div>
              <div class="product_image">
                <%= item_big_image(item) %>
              </div>
              <div class="product_title">
                <%= name(item) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% id(@user) == id(composer(proposal(@negotiation))) ? usuario = "composer" : usuario = "receiver" %>

    <% if(usuario == "composer") %>
      <input type="hidden" name="proposal[user_receiver_id]" value="<%= id(receiver(proposal(@negotiation))) %>" />
    <% else %>
      <input type="hidden" name="proposal[user_composer_id]" value="<%= id(composer(proposal(@negotiation)) %>" />
    <% end %>

    <input type="hidden" name="proposal[money_attributes][user_id]" value="nil" id="usuario_id" />
    <input type="hidden" name="proposal[money_attributes][quantity]" value="0" id="usuario_dinero" />

    <div class="offer_summary">
      <div class="title">
        <div class="description">Offer Summary</div>
      </div>
      <div class="offer_inform">
        <div class="offer_header">
          <%= full_name(@user).upcase %>
        </div>

        <% if(usuario == "composer") %>
          <div class="offer_items">
            <div class="recieved" id="summary_offer_received_products_container">
              <% contador = 0 %>
              <% receiver_products(proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= id(product) %>" item_id="<%= id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= quantity(product) %></div>
                  <div class="product_image">
                    <%= item_big_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][item_id]" value="<%= id(product) %>">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][quantity]" value="<%= quantity(product) %>" item_id="<%= id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
            <div class="given" id="summary_offer_given_products_container">
              <% contador = 0 %>
              <% composer_products(proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= id(product) %>" item_id="<%= id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= quantity(product) %></div>
                  <div class="product_image">
                    <%= item_small_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][item_id]" value="<%= id(product) %>">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][quantity]" value="<%= quantity(product) %>" item_id="<%= id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_given" id="dineroOfrecesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
          </div>

        <% else %>

          <div class="offer_items">
            <div class="given" id="summary_offer_received_products_container">
              <% contador = 0 %>
              <% receiver_products(proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= id(product) %>" item_id="<%= id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= quantity(product) %></div>
                  <div class="product_image">
                    <%= item_big_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][item_id]" value="<%= id(product) %>">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][quantity]" value="<%= quantity(product) %>" item_id="<%= id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
            <div class="recieved" id="summary_offer_given_products_container">
              <% contador = 0 %>
              <% composer_products(proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= id(product) %>" item_id="<%= id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= quantity(product) %></div>
                  <div class="product_image">
                    <%= item_small_image(product)) %>
                  </div>
                  <div class="product_title">
                    <%= name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][item_id]" value="<%= id(product) %>">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][quantity]" value="<%= quantity(product) %>" item_id="<%= id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_given" id="dineroOfrecesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
          </div>

        <% end %>

        <div class="offer_info">
          <div class="profile_image">
            <%= negotiation_user_image(@user) %>
          </div>
          <div class="offer_buttons">
            <%= form.submit "submit", :id => 'edit-offer-send-button' %>
            <button>Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
