<% content_for :header do %>
  <%= render :partial => 'application/header' %>
<% end %>


<% content_for :user_side do %>
  <%= render :partial => 'application/user_container' %>
<% end %>


<% content_for :content_side do %>

<div class="right_container" id="rightContainer">

  <section class="main_container" id="content-side">

    <div class="add_request_invitation hidden_container" id="add_request_invitation">
      <div class="arrow-left"></div>
      <div class="invitation_text">WANT RECIBE OFFERS??</div>
      <div class="invitation_button">
        <%= link_to "THEN REQUEST SOMETHING",
          new_user_request_path(@user),
          {:remote => true, :class => "new_request_invitation_button_style"}
        %>
      </div>
    </div>

    <nav class="nav_bar" id="navigation_bar">
      <%= render :partial => 'application/navigation_bar' %>
    </nav>

    <aside class="main_container_elementList" id="ppal_container" offerWidth="286">
      <%= render (@negotiations) || 'no_negotiation' %>
    </aside>

  </section>

</div>

<% end %>


<script type="text/javascript">
  var cl_image_path = '<%= negotiation_message_user_image(@user) %>';
  $("#sender_image_tag").attr('value', cl_image_path);
</script>


<script type="text/javascript">
  var cl_image_path = '<%= negotiation_message_user_image(@user) %>';
  $("#sender_image_tag").attr('value', cl_image_path);
</script>
