<% content_for :header do %>
  <%= render :partial => 'application/header' %>
<% end %>


<% content_for :user_side do %>
  <%= render :partial => 'application/user_container' %>
<% end %>


<% content_for :content_side do %>

<div class="right_container" id="rightContainer">

  <section class="main_container" id="content-side">

    <nav class="nav_bar" id="navigation_bar">
      <%= render :partial => 'application/navigation_bar' %>
    </nav>

    <aside class="main_container_elementList" id="ppal_container" offerWidth="286">
      <% negotiations(@user).each do |negotiation| %>
        <div class="negotiation" id="<%= id(negotiation) %>">

          <div class="negotiation_offer">

            <div class="oponent_info">
              <div class="oponent_image">
                <%= main_image(composer(proposal(negotiation))) %>
              </div>
              <div class="oponent_description">
                <div class="oponent_name">
                  <%= first_name(composer(proposal(negotiation))) %>
                </div>
                <div class="oponent_address">
                  <%= full_name(composer(proposal(negotiation))) %>
                </div>
              </div>
            </div>

            <div class="offer_triangle">
              <div class="triangle"></div>
            </div>

            <div class="offer_items">
              <div class="recieved">
                <% composer_products(proposal(negotiation)).each do |product| %>
                  <div class="image_container">
                    <%= main_image(product) %>
                    <div class="quantity_container">
                      <%= quantity(product) %>
                    </div>
                    <div class="description">
                      <%= name(product) %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="given">
                <% receiver_products(proposal(negotiation)).each do |product| %>
                  <div class="image_container">
                    <%= main_image(product) %>
                    <div class="quantity_container"><%= quantity(product) %></div>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="offer_info">

              <div class="offer_buttons">
                <%= link_to 'nueva',
                    edit_user_negotiation_path(@user,id(negotiation)),
                    :remote => true %>

                <%# if (can_sign?(proposal(negotiation),@user)) %>
                  <%= link_to 'firmar',
                      sign_user_negotiation_path(id(@user),id(negotiation)),
                      :remote => true %>
                <%# end %>

                <%# if (can_confirm?(proposal(negotiation),@user)) %>
                  <%= link_to 'confirmar',
                      confirm_user_negotiation_path(id(@user),id(negotiation)),
                      :remote => true %>
                <%# end %>

                <%# if (can_cancel?(proposal(negotiation),@user)) %>
                  <%= link_to 'cancel',
                      cancel_user_negotiation_path(id(@user),id(negotiation)),
                      :remote => true %>
                <%# end %>
              </div>

            </div>
          </div>

          <div class="dialog_container">

            <div class="conversation" id="conversationofnegotiation">
              <% messages(negotiation).each do |message| %>
                <div class="comment">
                  <div class="comment_user_image">
                    <%#= image(message) %>
                  </div>
                  <div class="comment_text">
                    <%= text(message) %>
                  </div>
                  <div class="comment_datetime">
                    <%= date_time(message) %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="writting_box">
              <div class="message">
                <input type="text" placeholder="write here" name="text">
                <%= button_to "Send", action: "pusher_message", remote: true %>
              </div>
            </div>
            <div class="dialog_head">
              <div class="option_icons">
                <div class="icon">op1</div>
                <div class="icon">op2</div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </aside>

  </section>

</div>


<% end %>





