<div class="new_thing_content container_invisible" id="edit-thing-form"> 
  <%= form_for @thing, :url => {:action => "update", :id => @thing.id}, :html => {:method => "put" } do |form| %>
    <div class="thing_title">
      Añade un nuevo producto      
    </div>
    <div class="thing_container">
      <div class="thing_image">
        <div class="big_image_container">
          <%= form.file_field :image %>
          <%= thing_image(@thing) %>
        </div>          
        <div class="small_images_container">
          <%= thing_image(@thing) %>
        </div>          
      </div>
      <div class="thing_description">        
        <div class="title">
          <%= form.text_area :name, 
                :placeholder => "Título del producto",
                :size => "4x1" %>
        </div>          
        <div class="description">
          <%= form.text_area :description,
                  :placeholder => "Describa de forma concisa el producto",
                  :size => "24x6" %>
        </div>          
      </div>
    </div>
    <div class="thing_options">
      <div class="send_button">      
        <div class="action">      
          <%= form.submit  "submit", :id => 'edit-thing-send-button'  %>
        </div> 
      </div>      
    </div>    
  <% end %>   
</div> 