<div class="modal modal-offer hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="edit-negotiation-form">
  <%= form_for [current_user,@negotiation], :remote => true do |form| %>
    <div class="products_area">
      <div class="title">
        <a href="#blank" id="new_offer_receiver_selector" value="<%= proposal_receiver_id(negotiation_last_proposal(@negotiation)) %>">
          <div class="user_products_selector user_selected" id="receiver_selector_area">
            <div class="user_image">
              <%= proposal_receiver_image(negotiation_last_proposal(@negotiation)) %>
            </div>
            <div class="description">
              <%= proposal_receiver_name(negotiation_last_proposal(@negotiation)) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector" value="<%= proposal_composer_id(negotiation_last_proposal(@negotiation)) %>">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image">
              <%= proposal_composer_image(negotiation_last_proposal(@negotiation)) %>
            </div>
            <div class="description">
              <%= proposal_composer_name(negotiation_last_proposal(@negotiation)) %>
            </div>
          </div>
        </a>
      </div>
      <div class="his_products" id="receiver_products_container">
        <div class="money">
          <textarea name="" id="dineroPides" cols="1" rows="1" placeholder="Cantidad que pides"></textarea>
          <button id="dineroPidesBotonAgregar">add</button>
        </div>
        <div class="product_container" id="his_product_container">
          <% proposal_receiver_things(negotiation_last_proposal(@negotiation)).each do |thing| %>
            <div class="product" thing_id="<%= thing.id%>" stock="<%= thing_stock(thing) %>">
              <div class="quantity_container"></div>
              <div class="product_image">
                <%= thing_image(thing) %>
              </div>
              <div class="product_title">
                <%= thing_name(thing) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my_products container_invisible" id="composer_products_container">
        <div class="money">
          <textarea name="" id="dineroOfreces" cols="1" rows="1" placeholder="Cantidad que ofreces"></textarea>
          <button id="dineroOfrecesBotonAgregar">add</button>
        </div>
        <div class="product_container" id="my_product_container">
          <% proposal_composer_things(negotiation_last_proposal(@negotiation)).each do |thing| %>
            <div class="product" thing_id="<%= thing.id%>" stock="<%= thing_stock(thing) %>">
              <div class="quantity_container"></div>
              <div class="product_image">
                <%= thing_image(thing) %>
              </div>
              <div class="product_title">
                <%= thing_name(thing) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <input type="hidden" name="offer[user_receiver_id]" value="<%= proposal_receiver_id(negotiation_last_proposal(@negotiation)) %>" />
    <input type="hidden" name="offer[money_attributes][user_id]" value="nil" id="usuario_id" />
    <input type="hidden" name="offer[money_attributes][quantity]" value="0" id="usuario_dinero" />

    <div class="offer_summary">
      <div class="title">
        <div class="description">Resumen de la oferta</div>
      </div>
      <div class="offer_inform">
        <div class="offer_header">
          <div class="triangle">
              <!-- <img src="http://localhost:3000/images/optionsicon.png" alt="options" id="options_button"> -->
          </div>
          <div class="profile_image">
            <%= proposal_composer_image(negotiation_last_proposal(@negotiation)) %>
          </div>
          <div class="description">
            <div class="offer_message">
            </div>
          </div>
        </div>
        <div class="offer_things">
          <div class="recieved" id="summary_offer_received_products_container">
            <% contador = 0 %>
            <% proposal_receiver_products(negotiation_last_proposal(@negotiation)).each do |product| %>
              <div class="product" product_id="<%= product_id(product) %>" thing_id="<%= product_thing_id(product) %>"><div class="delete_button">x</div>
                <div class="quantity_container"><%= product_quantity(product) %></div>
                <div class="product_image">
                  <%= product_image(product) %>
                </div>
                <div class="product_title">
                  <%= product_name(product) %>
                </div>
                 <div class="data_input">
                  <input type="hidden" name="offer[receiver_attributes][products_attributes][<%= contador %>][id]" value="<%= product_id(product) %>">
                  <input type="hidden" name="offer[receiver_attributes][products_attributes][<%= contador %>][thing_id]" value="<%= product_thing_id(product) %>">
                  <input type="hidden" name="offer[receiver_attributes][products_attributes][<%= contador %>][quantity]" value="<%= product_quantity(product) %>" id="<%= product_id(product) %>" thing_id="<%= product_thing_id(product) %>">
                </div>
              </div>
              <% contador = contador + 1 %>
            <% end %>
            <div class="money_received" id="dineroPidesEnSumario">
              <div class="money_composition"></div>
            </div>
          </div>
          <div class="given" id="summary_offer_given_products_container">
            <% contador = 0 %>
            <% proposal_composer_products(negotiation_last_proposal(@negotiation)).each do |product| %>
              <div class="product" product_id="<%= product_id(product) %>" thing_id="<%= product_thing_id(product) %>"><div class="delete_button">x</div>
                <div class="quantity_container"><%= product_quantity(product) %></div>
                <div class="product_image">
                  <%= product_image(product) %>
                </div>
                <div class="product_title">
                  <%= product_name(product) %>
                </div>
                 <div class="data_input">
                  <input type="hidden" name="offer[composer_attributes][products_attributes][<%= contador %>][id]" value="<%= product_id(product) %>">
                  <input type="hidden" name="offer[composer_attributes][products_attributes][<%= contador %>][thing_id]" value="<%= product_thing_id(product) %>">
                  <input type="hidden" name="offer[composer_attributes][products_attributes][<%= contador %>][quantity]" value="<%= product_quantity(product) %>" id="<%= product_id(product) %>" thing_id="<%= product_thing_id(product) %>">
                </div>
              </div>
              <% contador = contador + 1 %>
            <% end %>
            <div class="money_given" id="dineroOfrecesEnSumario">
              <div class="money_composition"></div>
            </div>
          </div>
        </div>

        <div class="offer_button">
          <%= form.submit "submit", :id => 'edit-offer-send-button', :class =>  "btn btn-primary" %>
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>     
  <% end %>
</div>