<div class="modal modal-offer hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="edit-negotiation-form">
  <%= form_for [current_user,@negotiation], :remote => true do |form| %>
    <div class="products_area">
      <div class="title" id="negotiators_header">
        <a href="#blank" id="new_offer_receiver_selector" value="<%= proposal_receiver_id(negotiation_last_proposal(@negotiation)) %>">
          <div class="user_products_selector user_selected" id="receiver_selector_area">
            <div class="user_image">
              <%= proposal_receiver_image(negotiation_last_proposal(@negotiation)) %>
            </div>
            <div class="description">
              <%= proposal_receiver_name(negotiation_last_proposal(@negotiation)) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector" value="<%= proposal_composer_id(negotiation_last_proposal(@negotiation)) %>">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image">
              <%= proposal_composer_image(negotiation_last_proposal(@negotiation)) %>
            </div>
            <div class="description">
              <%= proposal_composer_first_name(negotiation_last_proposal(@negotiation)) %>
            </div>
          </div>
        </a>
      </div>
      <div class="his_products" id="receiver_products_container">
        <div class="money">
          <textarea name="" id="dineroPides" cols="1" rows="1" placeholder="Cantidad que pides"></textarea>
          <button id="dineroPidesBotonAgregar">add</button>
        </div>
        <div class="product_container" id="his_product_container">
          <% proposal_receiver_items(negotiation_last_proposal(@negotiation)).each do |item| %>
            <div class="product" item_id="<%= item.id%>" stock="<%= item_stock(item) %>">
              <div class="quantity_container"></div>
              <div class="product_image">
                <%= item_image(item) %>
              </div>
              <div class="product_title">
                <%= name(item) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my_products container_invisible" id="composer_products_container">
        <div class="money">
          <textarea name="" id="dineroOfreces" cols="1" rows="1" placeholder="Cantidad que ofreces"></textarea>
          <button id="dineroOfrecesBotonAgregar">add</button>
        </div>
        <div class="product_container" id="my_product_container">
          <% proposal_composer_items(negotiation_last_proposal(@negotiation)).each do |item| %>
            <div class="product" item_id="<%= item.id%>" stock="<%= item_stock(item) %>">
              <div class="quantity_container"></div>
              <div class="product_image">
                <%= item_image(item) %>
              </div>
              <div class="product_title">
                <%= name(item) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% id(current_user) == negotiation_last_proposal(@negotiation).user_composer_id ? usuario = "composer" : usuario = "receiver" %>

    <% if(usuario == "composer") %>
      <input type="hidden" name="proposal[user_receiver_id]" value="<%= proposal_receiver_id(negotiation_last_proposal(@negotiation)) %>" />
    <% else %>
      <input type="hidden" name="proposal[user_receiver_id]" value="<%= proposal_composer_id(negotiation_last_proposal(@negotiation)) %>" />
    <% end %>

    <input type="hidden" name="proposal[money_attributes][user_id]" value="nil" id="usuario_id" />
    <input type="hidden" name="proposal[money_attributes][quantity]" value="0" id="usuario_dinero" />

    <div class="offer_summary">
      <div class="title">
        <div class="description">Resumen de la oferta</div>
      </div>
      <div class="offer_inform">
        <div class="offer_header">
          <%= user_name(@user).upcase %>
        </div>
        <div class="offer_triangle">
          <div class="triangle"></div>
        </div>
        <% if(usuario == "composer") %>
          <div class="offer_items">
            <div class="recieved" id="summary_offer_received_products_container">
              <% contador = 0 %>
              <% proposal_receiver_products(negotiation_last_proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= product_id(product) %>" item_id="<%= product_item_id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= product_quantity(product) %></div>
                  <div class="product_image">
                    <%= product_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= product_name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][item_id]" value="<%= product_item_id(product) %>">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][quantity]" value="<%= product_quantity(product) %>" item_id="<%= product_item_id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
            <div class="given" id="summary_offer_given_products_container">
              <% contador = 0 %>
              <% proposal_composer_products(negotiation_last_proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= product_id(product) %>" item_id="<%= product_item_id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= product_quantity(product) %></div>
                  <div class="product_image">
                    <%= product_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= product_name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][item_id]" value="<%= product_item_id(product) %>">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][quantity]" value="<%= product_quantity(product) %>" item_id="<%= product_item_id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_given" id="dineroOfrecesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
          </div>

        <% else %>

          <div class="offer_items">
            <div class="given" id="summary_offer_received_products_container">
              <% contador = 0 %>
              <% proposal_receiver_products(negotiation_last_proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= product_id(product) %>" item_id="<%= product_item_id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= product_quantity(product) %></div>
                  <div class="product_image">
                    <%= product_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= product_name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][item_id]" value="<%= product_item_id(product) %>">
                    <input type="hidden" name="proposal[composer_attributes][products_attributes][<%= contador %>][quantity]" value="<%= product_quantity(product) %>" item_id="<%= product_item_id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
            <div class="recieved" id="summary_offer_given_products_container">
              <% contador = 0 %>
              <% proposal_composer_products(negotiation_last_proposal(@negotiation)).each do |product| %>
                <div class="product" product_id="<%= product_id(product) %>" item_id="<%= product_item_id(product) %>"><div class="delete_button">x</div>
                  <div class="quantity_container"><%= product_quantity(product) %></div>
                  <div class="product_image">
                    <%= product_image(product) %>
                  </div>
                  <div class="product_title">
                    <%= product_name(product) %>
                  </div>
                   <div class="data_input">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][item_id]" value="<%= product_item_id(product) %>">
                    <input type="hidden" name="proposal[receiver_attributes][products_attributes][<%= contador %>][quantity]" value="<%= product_quantity(product) %>" item_id="<%= product_item_id(product) %>">
                  </div>
                </div>
                <% contador = contador + 1 %>
              <% end %>
              <div class="money_given" id="dineroOfrecesEnSumario">
                <div class="money_composition"></div>
              </div>
            </div>
          </div>

        <% end %>

        <div class="offer_info">
          <div class="profile_image">
            <%= image(@user) %>
          </div>
          <div class="offer_buttons">
            <%= form.submit "submit", :id => 'edit-offer-send-button', :class =>  "btn btn-primary" %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>