<div class="modal modal-offer hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="new-offer-form">
  <%= form_for [current_user,@offer], :remote => true do |form| %>
    <div class="products_area">
      <div class="title">
        <a href="#blank" id="new_offer_receiver_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="receiver_selector_area">
            <div class="user_image">
              <%= image(@user) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image">
              <%= image(@user) %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_message_selector" value="<%= id(@user) %>">
          <div class="user_products_selector" id="message_selector_area">
            <div class="user_image">
              <%= image(@user) %>
            </div>
          </div>
        </a>
      </div>
      <div class="products_container">
        <div class="products_list">
          <% items(@user).each do |item| %>
            <div class="item" id="<%= id(item) %>">
              <div class="item_image">
                <%= image(item) %>
              </div>
              <div class="item_quantity">
                <div class="quantity_number"><%= stock(item) %></div>
              </div>
              <div class="item_description">
                <div class="text">
                  <%= description(item) %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="product_overview">
          <div class="overview_image" id="overview_image">Imagen</div>
          <div class="overview_description">
            <div class="overview_description_title" id="overview_description_title">Titulo del producto</div>
            <div class="overview_description_text" id="overview_description_text">Descripcion del producto</div>
          </div>
        </div>
      </div>
    </div>

    <input type="hidden" name="offer[user_receiver_id]" value="<%= id(@user) %>" />
    <input type="hidden" name="offer[money_attributes][user_id]" value="nil" id="usuario_id" />
    <input type="hidden" name="offer[money_attributes][quantity]" value="0" id="usuario_dinero" />

    <div class="offer_summary">
      <div class="offer_inform">
        <div class="offer_header">
          <%= nick(@user).capitalize %>
        </div>
        <div class="offer_products">
          <div class="recieved" id="summary_offer_received_products_container">
              <div class="money_received" id="dineroPidesEnSumario">
                <div class="money_composition"></div>
              </div>
          </div>
          <div class="given" id="summary_offer_given_products_container">
            <div class="money_given" id="dineroOfrecesEnSumario">
              <div class="money_composition"></div>
            </div>
          </div>
        </div>
        <div class="offer_info">
          <div class="profile_image">
            <%= image(@user) %>
          </div>
          <div class="description">
            <div class="offer_message">
              <%= form.text_area :message, :placeholder => "Mensaje Inicial", :rows => "2" %>
            </div>
          </div>
          <div class="offer_buttons">
            <%= form.submit "submit", :id => 'new-offer-send-button', :class =>  "btn btn-primary" %>
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>