<div class="new_offer_content" id="new-offer-form">
  <%= form_for [current_user,@offer] do |form| %>
    <div class="new_offer_title">
      <div class="icon"></div>
      <div class="description">Crear Oferta</div>
    </div>
    <div class="his_products">
      <div class="title">
        <div class="user_image">
          <%= user_visited_image %>
        </div>
        <div class="description">Sus productos</div>
      </div>
      <div class="money">
        <textarea name="" id="" cols="1" rows="1">
          Cantidad que ofreces
        </textarea>
      </div>
      <div class="product_container">
        <% user_visited_things.each do |thing| %>
          <div class="product">
            <div class="product-image">
              <%= thing_image(thing) %>
            </div>
            <div class="product-title">
              <input type="text"><%= thing_name(thing) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="offer_summary">
      <div class="title">
        <div class="description">Resumen de la oferta</div>
      </div>
      <div class="summary">
        <div class="summary_header">
          <div class="summary_header_image">
            <%= user_logged_image %>
          </div>
          <div class="summary_header_text">
            <div class="nombre_usuario">Sergio</div>
            <textarea name="" id="" cols="5" rows="2">
              Aqui rellenaran el texto de la oferta
            </textarea>
          </div>
          <div class="triangle"></div>
        </div>
        <div class="summary_body">
          <div class="summary_body_products_given">
            <div class="product_given">
              <div class="product_given_imagen">
              </div>
              <div class="product_given_title">
              </div>
            </div>
          </div>
          <div class="summary_body_produts_recieved">
              <div class="produt_recieved">
                <div class="produt_recieved_image">
                </div>
                <div class="produt_recieved_title">
              </div>
           </div>
          </div>
        </div>
      </div>
        <div class="summary_footer">
          <div class="actions">
            <%= form.submit %>
          </div>
        </div>
    </div>

    <div class="my_products">
      <div class="title">
        <div class="user_image">
          <%= user_logged_image %> %>
        </div>
        <div class="description">Mis productos</div>
      </div>
      <div class="money">
        <textarea name="" id="" cols="1" rows="1">
          Cantidad que ofreces
        </textarea>
      </div>
      <div class="product_container">
        <% user_logged_things.each do |thing| %>
          <div class="product">
            <div class="product-image">
              <%= thing_image(thing) %>
            </div>
            <div class="product-title">
              <input type="text"><%= thing_name(thing) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>
</div>