<div class="new_thing_content container_invisible" id="new-thing-form">
  <%= form_for new_user_thing_path do |form| %>
    <div class="new_thing_title">
      Añade un nuevo producto      
    </div> 
    <div class="new_thing_image">
      <%= form.file_field :image %>
    </div>
    <div class="new_thing_text">
      <%= text_area_tag(:name, "", :placeholder => "Título del producto", :size => "4x1") %>
      <%= text_area_tag(:description, "",:placeholder => "Describa de forma concisa el producto",  :size => "24x6") %>
    </div>
    <div class="stock">
      <%= text_area_tag(:stock, "",:placeholder => "Unidades del producto de las que dispone",  :size => "15x2") %>
    </div>
    <div class="send_button">      
      <div class="action">      
        <%= form.submit  "submit", :id => 'new-thing-send-button'  %>
      </div> 
    </div>
  <% end %>   
</div> 