<div class="new_offer_content" id="new-offer-form">
  <%= form_for [current_user,@offer] do |form| %>

    <div class="products_area">
      <div class="title">
        <a href="#blank" id="new_offer_receiver_selector">
          <div class="user_products_selector user_selected" id="receiver_selector_area">
            <div class="user_image">
              <%= user_visited_image %>
            </div>
            <div class="description">
              <%= user_visited_name %>
            </div>
          </div>
        </a>
        <a href="#blank" id="new_offer_composer_selector">
          <div class="user_products_selector" id="composer_selector_area">
            <div class="user_image">
              <%= user_logged_image %>
            </div>
            <div class="description">
              <%= user_logged_name %>
            </div>
          </div>
        </a>
      </div>
      <div class="his_products" id="receiver_products_container">
        <div class="money">
          <textarea name="" id="" cols="1" rows="1" placeholder="Cantidad que pides">
            Pides
          </textarea>
        </div>
        <div class="product_container">
          <% user_visited_things.each do |thing| %>
            <div class="product">
              <div class="product-image">
                <%= thing_image(thing) %>
              </div>
              <div class="product-title">
                <%= thing_name(thing) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="my_products container_invisible" id="composer_products_container">
        <div class="money">
          <textarea name="" id="" cols="1" rows="1" placeholder="Cantidad que ofreces">
            Ofreces
          </textarea>
        </div>
        <div class="product_container">
          <% user_logged_things.each do |thing| %>
            <div class="product">
              <div class="product-image">
                <%= thing_image(thing) %>
              </div>
              <div class="product-title">
                <%= thing_name(thing) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="offer_summary">
      <div class="title">
        <div class="description">Resumen de la oferta</div>
      </div>
      <div class="summary">
        <div class="summary_header">
          <div class="summary_header_image">
            <%= user_logged_image %>
          </div>
          <div class="summary_header_text">
            <div class="nombre_usuario">Sergio</div>
            <textarea name="" id="" cols="5" rows="2">
              Aqui rellenaran el texto de la oferta
            </textarea>
          </div>
          <div class="triangle"></div>
        </div>
        <div class="summary_body">
          <div class="summary_body_products_given">
            <div class="product_given">
              <div class="product_given_imagen">
              </div>
              <div class="product_given_title">
              </div>
            </div>
          </div>
          <div class="summary_body_produts_recieved">
              <div class="produt_recieved">
                <div class="produt_recieved_image">
                </div>
                <div class="produt_recieved_title">
              </div>
           </div>
          </div>
        </div>
      </div>
        <div class="summary_footer">
          <div class="actions">
            <%= form.submit %>
          </div>
        </div>
    </div>

  <% end %>
</div>