<div class="new_petition_content" id="new-request-form">
  <%= form_for [current_user,@request] do |form| %>
    <div class="new_petition_title">
      <div class="icon">
        <%= image_tag(@user.profile.image) %>
        <%= hidden_field_tag :image, @user.profile.image %>
      </div>
      <div class="description">Nueva Petición</div>
    </div> 
    <div class="new_offer_text">
      <%= text_area_tag(:text, "Texto de la peticion", :size => "24x6") %>
    </div>
    <%= hidden_field_tag(:user_id, @user._id) %>
    <%= hidden_field_tag(:user_name, @user.profile.name) %>
    <div class="action">      
      <%= form.submit %>
    </div> 
  <% end %>  
</div>  
