<!-- Orden de busqueda para los layouts -->
<!-- Rais busca primero en views/layouts si existe un layout con el nombre del controlador  -->
<!-- Si existe lo usa, sino busca en el controlador si tiene asignado un layout -->
<!-- Si lo tiene lo usa, sino utiliza en ultima instancia el application layout -->

<!-- Nuestro application layout define la estructura mas general de nuestra aplicacion -->
<!-- es decir el contenedor principal con header y footer -->

<!DOCTYPE html>
<html>

<!-- Nada de render, aqui ira content_for :metadata y así la carga de los JS será dinamica -->
<%= render partial: 'application/metadata' %>

<body class="hidden_container" id="body">

  <% if (controller.controller_name === "sessions") %>
    <%= yield :logger %>
  <% else %>
    <%= yield :header %> <!-- uso yield, pq no todas las vistas tienen el mismo header -->
  <% end %>

  <div class="clearfix mainlayout" id="mainLayout">
    <%= yield :user_side %>
    <%= yield :content_side %>
    <%= render partial: 'application/footer' %> <!-- Es parcial para toda las vistas -->
  </div>

</body>




<!-- Luego esto vendra dentro de un Yield pusher y cada .html rellenara como necesite -->
<% if (controller.controller_name != "home") %>

  <script type="text/javascript">

    //Inicio sesion en pusher para el sistema de notificaciones y mensajes en tiempo real,
    // Esto me enseña en la consola de JavaScript si conecta o no, pero en produccion hay que quitarlo
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('f34baa838c2708acbd0f');
    var channel = pusher.subscribe('my_channel');

    channel.bind('my_event', function(data) {
      var negotiation_id = data.negotiation_id;

      $("#"+negotiation_id).find('#conversationofnegotiation').append('<div class="comment"><div class="comment_user_image">'+data.sender_image_tag+'</div><div class="comment_text">'+data.message+'</div><div class="comment_datetime">22/01/2014 11:05am</div></div>');
      $("#"+negotiation_id).find("#message_writer").val('');
    });

  </script>

<% end %>


</html>