<!-- Orden de busqueda para los layouts -->
<!-- Rais busca primero en views/layouts si existe un layout con el nombre del controlador  -->
<!-- Si existe lo usa, sino busca en el controlador si tiene asignado un layout -->
<!-- Si lo tiene lo usa, sino utiliza en ultima instancia el application layout -->

<!-- Nuestro application layout define la estructura mas general de nuestra aplicacion -->
<!-- es decir el contenedor principal con header y footer -->

<!DOCTYPE html>
<html>

<!-- Nada de render, aqui ira content_for :metadata y así la carga de los JS será dinamica -->
<%= render partial: 'application/metadata' %>

<body class="hidden_container" id="body">

  <%= yield :header %> <!-- uso yield, pq no todas las vistas tienen el mismo header -->

  <div class="clearfix mainlayout" id="mainLayout">
    <%= yield :user_side %>
    <%= yield :content_side %>
    <%= render partial: 'application/footer' %> <!-- Es parcial para toda las vistas -->
  </div>

</body>






<!-- Activo la configuracion del cloudinary aqui para todas la navegacion -->
<%= cloudinary_js_config %>


<!-- Luego esto vendra dentro de un Yield pusher y cada .html rellenara como necesite -->
<% if (controller.controller_name != "home") %>

  <script type="text/javascript">

    //Inicio sesion en pusher para el sistema de notificaciones y mensajes en tiempo real,
    // Esto me enseña en la consola de JavaScript si conecta o no, pero en produccion hay que quitarlo
    Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };

    var pusher = new Pusher('f34baa838c2708acbd0f');
    var channel_negotiations = pusher.subscribe('my_negotiations_channel');
    var channel_deals = pusher.subscribe('my_deals_channel');

    channel_negotiations.bind('my_event', function(data) {
      var negotiation_id = data.negotiation_id;
      var user_image_tag = "<%= escape_javascript(negotiation_message_user_image(@user)) %>";

      $("#"+negotiation_id).find('#conversationofnegotiation').append('<div class="comment"><div class="comment_user_image">'+user_image_tag+'</div><div class="comment_text">'+data.message+'</div><div class="comment_datetime">22/01/2014 11:05am</div></div>');
      $("#"+negotiation_id).find("#message_writer").val('');
      $("#"+negotiation_id).scrollConversation();
    });

    channel_negotiations.bind('my_notification', function(data) {
      $('#negotiations-tab').append('<div class="notification_flap"></div>');
      // var negotiation_id = data.negotiation_id;
      // var user_image_tag = "<%= escape_javascript(negotiation_message_user_image(@user)) %>";

      // $("#"+negotiation_id).find('#conversationofnegotiation').append('<div class="comment"><div class="comment_user_image">'+user_image_tag+'</div><div class="comment_text">'+data.message+'</div><div class="comment_datetime">22/01/2014 11:05am</div></div>');
      // $("#"+negotiation_id).find("#message_writer").val('');
      // $("#"+negotiation_id).scrollConversation();
    });


    channel_deals.bind('my_event', function(data) {
      var deal_id = data.deal_id;
      var user_image_tag = "<%= escape_javascript(deal_message_user_image(@user)) %>";

      $("#"+deal_id).find('#conversationofnegotiation').append('<div class="comment"><div class="comment_user_image">'+user_image_tag+'</div><div class="comment_text">'+data.message+'</div><div class="comment_datetime">22/01/2014 11:05am</div></div>');
      $("#"+deal_id).find("#message_writer").val('');
      $("#"+deal_id).scrollConversation();
    });

  </script>

<% end %>

</html>
