<!-- Orden de busqueda para los layouts -->
<!-- Rais busca primero en views/layouts si existe un layout con el nombre del controlador  -->
<!-- Si existe lo usa, sino busca en el controlador si tiene asignado un layout -->
<!-- Si lo tiene lo usa, sino utiliza en ultima instancia el application layout -->

<!-- Nuestro application layout define la estructura mas general de nuestra aplicacion -->
<!-- es decir el contenedor principal con header y footer -->

<!DOCTYPE html>
<html>

<!-- Nada de render, aqui ira content_for :metadata y así la carga de los JS será dinamica -->
<%= render partial: 'application/metadata' %>

<body class="hidden_container" id="body">

  <% if (controller.controller_name === "sessions") %>
    <%= yield :logger %>
  <% else %>
    <%= yield :header %> <!-- uso yield, pq no todas las vistas tienen el mismo header -->
  <% end %>

  <div class="clearfix mainlayout" id="mainLayout">
    <%= yield :user_side %>
    <%= yield :content_side %>
    <%= render partial: 'application/footer' %> <!-- Es parcial para toda las vistas -->
  </div>
  
</body>

</html>