<% content_for :userside do %>

  <section class="userside" id="user-side">
    
    <aside class="userside_profile">
      <div class="image"><%= @profile.image %></div>
      <div class="user_name">
        <%= @profile.nickname %></br>
        <%= @profile.country %>
      </div>
      <a href="newOffer.html" target="_blank">        
        <%= button_tag "Nueva Oferta", :class => "addofferbutton",
        :id => "new-offer" %>
      </a>
      <nav class="profile_menu">
        <div class="menu_icon">
          <%= link_to 'Perfil', user_profile_path(@user) %>
        </div>
        <div class="menu_icon">
          <%= link_to 'Prod', user_products_path(@user) %>
        </div>
        <div class="menu_icon">
          <%= link_to 'Alertas', user_alerts_path(@user) %>
        </div>
      </nav>
    </aside>
    
    <aside class="userside_requests">
        <a href="newrequest.html">
          <%= button_tag "Nueva Peticion", :class => "addofferbutton",:id => "add_request_button" %>      
        </a>
      <aside class="requests_requestsList">
        <%= render @requests %><!--Helper que itera sobre _requests y los va renderizando uno a uno-->             
      </aside>
    </aside>
      
  </section>

<% end %>
